        The File gpt.py provides the necessary functions for the batching and the run of the gpt LLM on the datasets

In [6]:
import pandas as pd
import openai
import json

In [3]:
# with open("OpenAIAPIKey.txt", "r") as f:
#     openai.api_key = f.read()

In [7]:
df_llm = pd.read_csv('../datasets/dessi-mf/dessi-mf_gpt/test.csv')
labels_llm = pd.read_csv('../datasets/dessi-mf/dessi-mf_gpt/test_labels_personal.csv')
classes_llm = pd.read_csv('../datasets/dessi-mf/dessi-mf_gpt/test_classes.csv')
multiclass_llm = pd.read_csv('../datasets/dessi-mf/dessi-mf_gpt/test_labels_multiclass.csv')

test_languages_data = pd.read_csv('../datasets/test_languages/test.csv')
test_languages_labels = pd.read_csv('../datasets/test_languages/test_labels_personal.csv')
test_languages_classes = pd.read_csv('../datasets/test_languages/test_classes.csv')
test_languages_multiclass = pd.read_csv('../datasets/test_languages/test_labels_multiclass.csv')

kaggle_data = pd.read_csv('../datasets/kaggle_datasets/all_datasets.csv')
kaggle_labels = pd.read_csv('../datasets/kaggle_datasets/all_datasets_labels_personal.csv')
kaggle_dataset = pd.read_csv('../datasets/kaggle_datasets/all_datasets_names.csv')

openml_data = pd.read_csv('../datasets/openml_datasets/all_datasets.csv')
openml_labels = pd.read_csv('../datasets/openml_datasets/all_datasets_labels_personal.csv')
openml_dataset = pd.read_csv('../datasets/openml_datasets/all_datasets_names.csv')

openml_2_data = pd.read_csv('../datasets/openml_datasets_2/all_datasets.csv')
openml_2_labels = pd.read_csv('../datasets/openml_datasets_2/all_datasets_labels_personal.csv')
openml_2_dataset = pd.read_csv('../datasets/openml_datasets_2/all_datasets_names.csv')

medical_data = pd.read_csv('../datasets/freiburg-medical/test.csv')
medical_labels = pd.read_csv('../datasets/freiburg-medical/test_labels_personal.csv')

openmlall_data = pd.read_csv('../datasets/OpenMLall_dataset/OpenMLAll_data.csv')
openmlall_labels = pd.read_csv('../datasets/OpenMLall_dataset/OpenMLAll_data_labels.csv')
openmlall_datasets = pd.read_csv('../datasets/OpenMLall_dataset/openmlall_datasets.csv')

In [8]:
openmlall_data

,User ID,Name,Email Address,Username,Date of Birth,Gender,Location,Membership Start Date,Membership End Date,Subscription Plan,...,citric.acid,residual.sugar,chlorides,free.sulfur.dioxide,total.sulfur.dioxide,density,pH,sulphates,alcohol,quality
0,1,Ronald Murphy,williamholland@example.com,williamholland,1953-06-03,Male,Rebeccachester,2024-01-15,2025-01-14,Annual,...,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,2,Scott Allen,scott22@example.org,scott22,1978-07-08,Male,Mcphersonview,2024-01-07,2025-01-06,Monthly,...,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,3,Jonathan Parrish,brooke16@example.org,brooke16,1994-12-06,Female,Youngfort,2024-04-13,2025-04-13,Monthly,...,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,4,Megan Williams,elizabeth31@example.net,elizabeth31,1964-12-22,Female,Feliciashire,2024-01-24,2025-01-23,Monthly,...,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,5,Kathryn Brown,pattersonalexandra@example.org,pattersonalexandra,1961-06-04,Male,Port Deborah,2024-02-14,2025-02-13,Annual,...,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,Mackenzie Harris,andersonemily@example.net,andersonemily,1963-11-06,Female,Lake Barryland,2024-03-01,2025-03-01,Annual,...,0.17,2.3,0.058,17.0,106.0,0.9932,3.85,0.60,12.9,6
96,97,Stephanie Potter,heather10@example.org,heather10,1958-05-05,Female,New Teresaburgh,2024-03-25,2025-03-25,Monthly,...,0.00,3.0,0.102,8.0,23.0,0.9965,3.45,0.56,10.7,5
97,98,Mitchell Potter,fsanchez@example.net,fsanchez,1979-08-27,Male,South Katieburgh,2024-01-27,2025-01-26,Annual,...,0.25,2.0,0.070,3.0,22.0,0.9963,3.25,0.63,9.2,5
98,99,Jonathan Rodriguez,nichole85@example.net,nichole85,1967-12-20,Male,East Shannonhaven,2024-02-29,2025-02-28,Monthly,...,0.06,2.5,0.079,5.0,10.0,0.9967,3.39,0.56,9.8,5
99,100,Jennifer Davis,zunigashelly@example.org,zunigashelly,1950-01-15,Female,West Nathanielton,2024-02-14,2025-02-13,Annual,...,0.18,1.9,0.080,13.0,35.0,0.9972,3.30,0.59,9.0,6

In [9]:
openmlall_data.shape

(100, 258)

In [58]:
# OpenML_Concat = pd.concat([openml_data,openml_2_data], axis=1)

In [ ]:
# OpenMLAll_data_labels = pd.concat([openml_labels,openml_2_labels], axis=0,ignore_index=True)

In [ ]:
# OpenMLAll_data_labels.to_csv('OpenMLAll_data_labels.csv',index=False)

In [ ]:
# openmlall_datasets = pd.concat([openml_dataset,openml_2_dataset], axis=0,ignore_index=True)

In [67]:
openmlall_datasets.value_counts()

dataset
TVS_Loan_Default                         32
APL_20_24                                27
Amazon_Prime_Fiction                     19
Marvel_Movies_Dataset                    18
Avocado-Prices-(Augmented)               14
CSM                                      13
vowel                                    13
forest_fires                             13
wine_quality                             12
mango_detection_australia                12
DATASETBANK                              12
FOREX_chfjpy-minute-Close                12
nyc-taxi-green-dec-2016                  11
company_quality_and_valuation_finance    11
echoMonths                               10
HousingPrices                             8
fishcatch                                 8
Oilst_Customers_Dataset                   5
iris                                      5
FitBit_HeartRate                          3
Name: count, dtype: int64

In [ ]:
# OpenML_Concat.to_csv('OpenMLAll_data.csv',index=False)

- Sent a request with the CRSRF-method prompt method of Chinese paper of 2023  

**Capacity and Role**  
As a classifier of personal data in tabular datasets, ...
  
**Statement**    
...  your task is to analyze the provided columns (each containing up to ten distinct values)
and determine whether they correspond to a specified semantic data class. 
If a column matches exactly one of the semantic data classes, return the matching class.
Additionally, assess whether the column contains personal information.
  
**Reason**   
Classifying semantic data classes is essential for identifying personal information within tabular data. 
Detecting personal information helps ensure compliance with data protection regulations and safeguards individuals' privacy and security.
   
**Format**    
Output your results in a dictionary format with two keys:

detected_classes: A list of all identified semantic data classes.
personal: A boolean indicating whether the column contains data that relates to a natural person, based on its context within the dataset.   
   
     
      
-->   
`As a classifier of personal data in tabular datasets, your task is to analyze the provided columns (each containing up to ten distinct values)`  
`and determine whether they correspond to a specified semantic data class. `  
`If a column matches exactly one of the semantic data classes, return the matching class.`  
`Additionally, assess whether the column contains personal information.`  
`Classifying semantic data classes is essential for identifying personal information within tabular data. `  
`Detecting personal information helps ensure compliance with data protection regulations and safeguards individuals' privacy and security.`  
`Output your results in a dictionary format with two keys:`  
  
`detected_classes: A list of all identified semantic data classes.`  
`personal: A boolean indicating whether the column contains data that relates to a natural person, based on its context within the dataset.`  
  
- Provide one or more example like in Chinese paper:      
   
`You can use the following examples as a guideline:`  
`Example Question : first_name_en_10: ['Tom', 'Walter', 'Mia', 'Lena', 'John', Jack', 'Felice', 'Anna', 'Lukas', 'Will']`  
`Does this column correspond perfectly to one of these semantic data classes: [address, credit card number, first name]?`  
`Additionally, assess whether the column contains data related to a natural person.`  
`Example Question 1: color_de_2: ['blau', 'grün', 'rot', 'gelb', 'schwarz', 'weiß', 'orange', 'lila', 'rosa', 'braun']`  
`Does this column correspond perfectly to one of these semantic data classes: [address, credit card number, first name]?`  
`Additionally, assess whether the column contains data related to a natural person.`  
  
`Example Answer 1: {detected_classes: [first_name], personal_related: true}\nExample Answer 2: {detected_classes: [], personal_related: false}`  
  
- Sent in the data columns with the SENT method of the paper (seperately instead of all at once)

## Statistics DataSets

In [10]:
openml_2_dataset.value_counts()

dataset
Marvel_Movies_Dataset         18
Avocado-Prices-(Augmented)    14
vowel                         13
forest_fires                  13
FOREX_chfjpy-minute-Close     12
wine_quality                  12
nyc-taxi-green-dec-2016       11
echoMonths                    10
fishcatch                      8
iris                           5
Name: count, dtype: int64

In [11]:
print('........DESSI-MF........')
print(f'Number DeSSI-MF of Features:{df_llm.columns.nunique()}')
print('......Kaggle......')
print(f'Number Kaggle of Features:{kaggle_data.columns.nunique()}')
print('......Test Languages......')
print(f'Number Test Languages of Features:{test_languages_data.columns.nunique()}')
print('......openml_data......')
print(f'Number openml_data of Features:{openml_data.columns.nunique()}')
print('......openml_2_data......')
print(f'Number openml_2_data of Features:{openml_2_data.columns.nunique()}')

........DESSI-MF........
Number DeSSI-MF of Features:546
......Kaggle......
Number Kaggle of Features:246
......Test Languages......
Number Test Languages of Features:100
......openml_data......
Number openml_data of Features:142
......openml_2_data......
Number openml_2_data of Features:116

In [12]:
print('......Kaggle......')
print(f'Number Kaggle sources:\n{kaggle_dataset.value_counts()}\n .............................')
print(f'Number openml_data sources:\n{openml_dataset.value_counts()}\n .............................')
print('......openml_2_data......')
print(f'Number openml_2_data sources:\n{openml_2_dataset.value_counts()}\n .............................')

......Kaggle......
Number Kaggle sources:
dataset
student_performance    33
house_price            28
absenteeism            21
bank_marketing         21
indian_companies       17
diabetes               17
heart_disease          16
pixar                  16
adult_census           15
titanic                12
agriculture            12
used_car               11
indian_liver           11
graduate_admissions     9
phishing_email          7
Name: count, dtype: int64
 .............................
Number openml_data sources:
dataset
TVS_Loan_Default                         32
APL_20_24                                27
Amazon_Prime_Fiction                     19
CSM                                      13
mango_detection_australia                12
DATASETBANK                              12
company_quality_and_valuation_finance    11
HousingPrices                             8
Oilst_Customers_Dataset                   5
FitBit_HeartRate                          3
Name: count, dtype: int64
 .............................
......openml_2_data......
Number openml_2_data sources:
dataset
Marvel_Movies_Dataset         18
Avocado-Prices-(Augmented)    14
vowel                         13
forest_fires                  13
FOREX_chfjpy-minute-Close     12
wine_quality                  12
nyc-taxi-green-dec-2016       11
echoMonths                    10
fishcatch                      8
iris                           5
Name: count, dtype: int64
 .............................

In [11]:
labels_llm.value_counts()

label
personal        282
non-personal    264
Name: count, dtype: int64

In [8]:
print('........DESSI-MF....')
print(f'{labels_llm.value_counts()}')
print(f'{df_llm.shape}')
print('....Test Languages ....')
print(f'{test_languages_labels.value_counts()}')
print(f'shape: {test_languages_data.shape}')
print('........Kaggle....')
print(f'{kaggle_labels.value_counts()}')
print(f'shape: {kaggle_data.shape}')
print('.......openml1....')
print(f'{openml_labels.value_counts()}')
print(f'shape: {openml_data.shape}')
print('.......openml2....')
print(f'{openml_2_labels.value_counts()}')
print(f'shape: {openml_2_data.shape}')

print('.......openmall....')
print(f'{openmlall_labels.value_counts()}')
print(f'shape: {openmlall.shape}')

........DESSI-MF....
label
personal        282
non-personal    264
Name: count, dtype: int64
(100, 546)
....Test Languages ....
label
personal        64
non-personal    36
Name: count, dtype: int64
shape: (100, 100)
........Kaggle....
label
personal        155
non-personal     91
Name: count, dtype: int64
shape: (100, 246)
.......openml1....
label
non-personal    72
personal        70
Name: count, dtype: int64
shape: (100, 142)
.......openml2....
label
non-personal    104
personal         12
Name: count, dtype: int64
shape: (100, 116)
.......openmall....
label
non-personal    176
personal         82
Name: count, dtype: int64
shape: (100, 258)

## Test on own dataset - Dessi-MF

In [7]:
initial_prompt = """
As a classifier of semantic data classes in tabular datasets, your task is to analyze the provided columns (each containing up to ten distinct values)
and determine whether they correspond to a specified semantic data class. 
If a column matches exactly one of the semantic data classes, return the matching class.
Classifying semantic data classes is essential for identifying personal information within tabular data. 
Detecting personal information helps ensure compliance with data protection regulations and safeguards individuals' privacy and security.
Output your results in a dictionary format:

detected_classes: A list of all identified semantic data classes.
"""

example_prompt = """
You can use the following examples as a guideline:
Example Question 1: first_name_en_10: ['Tom', 'Walter', 'Mia', 'Lena', 'John', 'Jack', 'Felice', 'Anna', 'Lukas', 'Will']
Does this column correspond perfectly to one or more of the following semantic data classes: [address, credit card number, first name]?
Example Question 2: color_de_2: ['blau', 'grün', 'rot', 'gelb', 'schwarz', 'weiß', 'orange', 'lila', 'rosa', 'braun']
Does this column correspond perfectly to one or more of the following semantic data classes: [address, credit card number, first name]?
"""

example_answer = "Example Answer 1: {detected_classes: [first_name]}\nExample Answer 2: {detected_classes: []}"

In [8]:
semantic_classes = sorted(set([a for a in multiclass_llm["label"] if "," not in a]))
NON_PERSONAL = ["answer", "city", "color", "company", "cpu", "credit_card_provider", "currency", "date", "dish", "drink", 
                "duration", "EAN_code", "float_number", "gpe", "graphics", "integer_number", "isbn", "manufacturer", "measure_unit", "phone_model", 
                "programming_language", "resolution", "SWIFT/BIC code", "system_quality_attribute", "url", "user_agent", "version", "word"]
personal_classes = list(set(semantic_classes) - set(NON_PERSONAL))

In [9]:
#personal_classes

In [10]:
classification_prompt = "Does this column correspond perfectly to one or more of the following semantic data classes: "  + str(semantic_classes) + "?" 
classification_prompt

"Does this column correspond perfectly to one or more of the following semantic data classes: ['EAN_code', 'SWIFT/BIC code', 'academic_degree/title', 'answer', 'blood_group', 'city', 'color', 'company', 'cpu', 'credit_card_number', 'credit_card_provider', 'currency', 'date', 'dish', 'drink', 'duration', 'email', 'first_name', 'float_number', 'full_address', 'full_name', 'gender', 'gpe', 'graphics', 'iban', 'id_card', 'integer_number', 'isbn', 'job', 'language', 'last_name', 'longitude_and_latitude', 'manufacturer', 'measure_unit', 'national_identification_number', 'nationality', 'passport_number', 'phone_model', 'phone_number', 'political_views', 'programming_language', 'race', 'religion/worldview', 'resolution', 'sexuality', 'system_quality_attribute', 'url', 'user_agent', 'version', 'word']?"

# Check the improved version GPT4o

## Prediction results DESSIMF

        uncomment the line1 on the key api before running

In [13]:
import tiktoken
import gpt
gpt.load_api_key()

In [14]:


def num_tokens_from_string(string: str, model: str) -> int:
    """Returns the number of tokens in a text string."""
    encoding = tiktoken.encoding_for_model(model)
    num_tokens = len(encoding.encode(string))
    return num_tokens

In [13]:
# df_token_count = pd.DataFrame()

# for i in range(df_llm.shape[1]):
#     conversation = [
#         {"role": "system", "content": initial_prompt},
#         {"role": "user", "content": example_prompt},
#         {"role": "assistant", "content": example_answer}
#     ]
#     metadata = {
#     "Dataset Name": "Own Dataset",
#     "Description": """ The dataset was compiled from various sources and contains columns with personal and non-personal data. 
#     Several columns were synthetically generated using Mimesis and Faker. 
#     The rest originates from the DeSSI (Dataset for Structured Sensitive Information) dataset.
#     """
#     }
#     data_prompt = "Classify the following column with careful consideration of the dataset description:\n" + str(metadata) + "\n"
    
#     s = "\n Column of the dataset to classify: '" + df_llm.columns[i] + "': "
#     val_list = df_llm.iloc[:, i].value_counts().index.tolist()[:10]     #value_counts sorts the values in descending order
#     s += str(val_list) + "\n"

#     data_prompt = data_prompt + s + classification_prompt
        
#     conversation.append({"role": "user", "content": data_prompt})

#     for c in conversation:
#         prompt1 = num_tokens_from_string(c['content'], "gpt-4o") # system
#         prompt2 = num_tokens_from_string(c['content'], "gpt-4o") # user
#         prompt3 = num_tokens_from_string(c['content'], "gpt-4o") # assistant
#         df_token_count.loc[i, 'token_count'] = prompt1 + prompt2 + prompt3

# df_token_count

In [14]:
df_token_count = pd.DataFrame()
for i in range(df_llm.shape[1]):
    conversation = [
        {"role": "system", "content": initial_prompt},
        {"role": "user", "content": example_prompt},
        {"role": "assistant", "content": example_answer}
    ]
    metadata = {
    "Dataset Name": "Own Dataset",
    "Description": """ The dataset was compiled from various sources and contains columns with personal and non-personal data. 
    Several columns were synthetically generated using Mimesis and Faker. 
    The rest originates from the DeSSI (Dataset for Structured Sensitive Information) dataset.
    """
    }
    data_prompt = "Classify the following column with careful consideration of the dataset description:\n" + str(metadata) + "\n"
    
    s = "\n Column of the dataset to classify: '" + df_llm.columns[i] + "': "
    val_list = df_llm.iloc[:, i].value_counts().index.tolist()[:10]     #value_counts sorts the values in descending order
    s += str(val_list) + "\n"

    data_prompt = data_prompt + s + classification_prompt
        
    conversation.append({"role": "user", "content": data_prompt})

    for c in conversation:
        prompt1 = num_tokens_from_string(c['content'], "gpt-4o") # system
        prompt2 = num_tokens_from_string(c['content'], "gpt-4o") # user
        prompt3 = num_tokens_from_string(c['content'], "gpt-4o") # assistant
        df_token_count.loc[i, 'token_count'] = prompt1 + prompt2 + prompt3



    gpt.add_batch('batchdessimf07.jsonl', conversation) # Updaqte the name of the jsonl
    
    # response = openai.chat.completions.create(
    #     model="gpt-4o",
    #     messages=conversation,
    #     seed=42
    # )
    
    # with open("gpt_predictions/dessi-mf_results.txt", "a") as file:
    #     file.write("\n" + response.choices[0].message.content.replace("\n", ""))

df_token_count

     token_count
0         1074.0
1         1167.0
2         1035.0
3         1095.0
4         1104.0
..           ...
541       1065.0
542       1128.0
543        930.0
544       1038.0
545       1026.0

[546 rows x 1 columns]

In [15]:
print(str(round((df_token_count['token_count'].sum()/1000000)*1.25, 2)) + ' $')

0.77 $

In [16]:
result = gpt.ask_gpt(batchfile='batchdessimf07.jsonl')
result_formatted = []

for r in result:
    start = r.index("[") + 1
    end = r.index("]")
    # Extract the substring
    res = r[start:end]
    res = res.replace("'", '')
    res = res.replace('"', '')
    # if res == None:
    #     res = ''
    result_formatted.append(res)

Batch was created with id: batch_67c8578aaca881908ed90b3eff04ca50

-----------------------------------------------------------------

Status: completedg, Elapsed Time: 0 Hours 2 Minutes 51 Secondss
Outputfile: file-9YjT5XaGHgC5Dgjr4s188g

Writing to file...
Done!

In [17]:
result_formatted

['drink',
 'date',
 'city',
 'credit_card_provider',
 'political_views',
 'resolution',
 'integer_number',
 'dish',
 'gender',
 'iban',
 'credit_card_provider',
 'phone_number',
 'company',
 'phone_model',
 'system_quality_attribute',
 'religion/worldview',
 'religion/worldview',
 '',
 'credit_card_number',
 'iban',
 'cpu',
 'integer_number',
 'answer',
 'blood_group',
 'job',
 'credit_card_number',
 'color',
 'full_name',
 'political_views',
 'blood_group',
 'last_name',
 'full_name',
 'national_identification_number',
 'graphics',
 'manufacturer',
 'phone_number',
 'last_name',
 'company',
 'credit_card_provider',
 'date, national_identification_number',
 'word',
 'duration',
 'date',
 'float_number',
 'full_name, academic_degree/title',
 'nationality',
 'longitude_and_latitude',
 'programming_language',
 '',
 '',
 'measure_unit',
 'resolution',
 'email',
 'duration',
 'user_agent',
 'full_name',
 'academic_degree/title',
 'dish',
 'full_address',
 'passport_number',
 'currency',
 'date',
 'blood_group',
 'religion/worldview',
 'url',
 'gender',
 'cpu',
 'full_name',
 'manufacturer',
 'national_identification_number',
 'last_name',
 'company',
 'SWIFT/BIC code',
 'longitude_and_latitude',
 'nationality',
 'graphics',
 'color',
 'blood_group',
 'blood_group',
 'gpe',
 'credit_card_number',
 'dish',
 'isbn',
 'phone_number',
 'SWIFT/BIC code',
 'date',
 'phone_model',
 'job',
 'integer_number',
 'political_views',
 'gender',
 'integer_number',
 'measure_unit',
 'passport_number',
 'credit_card_number',
 'email',
 'float_number',
 'integer_number',
 'isbn',
 'company',
 'SWIFT/BIC code',
 'email',
 'resolution',
 'full_address',
 'float_number',
 'user_agent',
 'gender',
 'SWIFT/BIC code',
 'last_name',
 'full_address',
 'phone_number',
 'float_number',
 'full_address',
 'duration',
 'national_identification_number',
 'email',
 'duration',
 'system_quality_attribute',
 'city',
 'measure_unit',
 'credit_card_number',
 'job',
 'phone_number',
 'isbn',
 'date',
 'resolution',
 'currency',
 'full_name',
 'blood_group',
 'national_identification_number, email',
 'first_name',
 'job',
 'currency',
 'url',
 'nationality',
 'city',
 'programming_language',
 'academic_degree/title',
 'full_address',
 'email, national_identification_number, passport_number, phone_number',
 'full_address',
 'user_agent',
 'full_name',
 'integer_number',
 'measure_unit',
 'user_agent',
 'email',
 'last_name',
 'currency',
 'color',
 'drink',
 'blood_group',
 'longitude_and_latitude',
 'first_name',
 'religion/worldview',
 'float_number',
 'color',
 '',
 'email, phone_number',
 'credit_card_provider',
 'gender',
 'phone_model',
 'full_name, academic_degree/title',
 'last_name',
 'academic_degree/title',
 'graphics',
 'phone_number',
 'measure_unit',
 'phone_number',
 'first_name',
 'color',
 'integer_number',
 'currency',
 'url',
 '',
 'credit_card_number',
 'full_name',
 'float_number',
 'national_identification_number',
 'credit_card_number',
 'system_quality_attribute',
 'date',
 'float_number',
 'integer_number',
 'longitude_and_latitude',
 'national_identification_number',
 'integer_number',
 'blood_group',
 'measure_unit',
 'company',
 'company',
 'email',
 'last_name',
 'phone_number',
 'academic_degree/title',
 'credit_card_number',
 'first_name',
 'graphics',
 'nationality',
 'credit_card_number',
 'gender',
 'currency',
 'language',
 '',
 '',
 'company',
 'graphics',
 'phone_number',
 'EAN_code',
 'full_name',
 'last_name',
 'academic_degree/title',
 'credit_card_provider',
 'integer_number',
 'email',
 'job',
 '',
 'religion/worldview',
 'credit_card_number',
 'company',
 '',
 'SWIFT/BIC code',
 'cpu',
 'first_name',
 'blood_group',
 'full_address',
 'academic_degree/title',
 'color',
 'phone_model',
 'manufacturer',
 'religion/worldview',
 'dish',
 'email',
 'nationality',
 'cpu',
 'integer_number',
 'dish',
 'float_number',
 'first_name',
 'national_identification_number',
 'credit_card_number',
 'passport_number',
 'race',
 'language',
 'phone_number',
 'longitude_and_latitude',
 'full_address',
 'job',
 '',
 'color',
 'phone_number',
 'full_address',
 'answer',
 'job',
 'system_quality_attribute',
 'EAN_code',
 'programming_language',
 'full_address',
 'manufacturer',
 'passport_number',
 'graphics',
 'phone_number',
 'email',
 'last_name',
 'system_quality_attribute',
 'sexuality',
 'full_name',
 'religion/worldview',
 'iban',
 'version',
 'float_number',
 'full_name',
 'phone_number, national_identification_number',
 'national_identification_number',
 'job',
 'credit_card_number',
 '',
 'isbn',
 'company',
 'job',
 'iban',
 'last_name',
 'iban',
 'gender',
 'company',
 'email',
 'gender',
 'user_agent',
 'float_number',
 'iban',
 'blood_group',
 '',
 'blood_group',
 '',
 '',
 'company',
 'manufacturer',
 'word',
 'integer_number',
 'national_identification_number',
 'company',
 'word',
 'nationality',
 'job',
 'full_name',
 'company',
 '',
 'first_name',
 'manufacturer',
 'isbn',
 'job',
 'programming_language',
 'drink',
 'nationality',
 'version',
 'url',
 'phone_number, email',
 'first_name',
 'resolution',
 'blood_group',
 'color',
 'credit_card_number',
 'duration',
 'city',
 'float_number',
 'religion/worldview',
 'programming_language',
 'first_name',
 'blood_group',
 'language',
 'word',
 'language',
 'phone_number',
 'credit_card_number',
 'phone_number',
 'user_agent',
 'blood_group',
 'cpu',
 'gender',
 'job',
 'last_name',
 'isbn',
 'date',
 'date',
 'drink',
 'programming_language',
 'color',
 'first_name',
 'last_name',
 'SWIFT/BIC code',
 'language',
 'answer',
 'blood_group',
 'dish',
 'full_address',
 'isbn',
 'academic_degree/title',
 'version',
 'email',
 'political_views',
 'first_name',
 'phone_model',
 'company',
 'full_address',
 'job',
 'user_agent',
 'last_name',
 'credit_card_number',
 'credit_card_number',
 'phone_number',
 'gender',
 'gender',
 'word',
 'language',
 'word',
 'SWIFT/BIC code',
 'currency',
 'EAN_code',
 'cpu',
 'integer_number',
 'last_name',
 'full_name',
 'float_number',
 'float_number',
 'email',
 'measure_unit',
 'phone_model',
 'answer',
 'company',
 'credit_card_number',
 'longitude_and_latitude',
 'longitude_and_latitude',
 'duration',
 'isbn',
 'url',
 'full_name',
 'phone_number',
 'answer',
 'answer',
 'nationality',
 'first_name',
 'company',
 'system_quality_attribute',
 'resolution',
 'isbn',
 'national_identification_number, date',
 'manufacturer',
 'isbn',
 'version',
 'cpu',
 'phone_number',
 'job',
 'academic_degree/title',
 'language',
 'national_identification_number, phone_number',
 'full_address',
 'date',
 'dish',
 'company',
 'email',
 'city',
 'isbn',
 'academic_degree/title',
 'iban',
 'academic_degree/title',
 'system_quality_attribute',
 'city',
 'email',
 'email',
 'integer_number',
 'date',
 'gender',
 'job',
 'credit_card_number',
 'color',
 '',
 'nationality',
 'academic_degree/title',
 'email',
 'drink',
 'EAN_code',
 'email, national_identification_number',
 'float_number',
 'religion/worldview',
 'longitude_and_latitude',
 'city',
 'word',
 'email',
 'url',
 'drink',
 'EAN_code',
 'duration',
 'full_address',
 'job',
 'national_identification_number',
 'url',
 'isbn',
 'blood_group',
 'version',
 'national_identification_number',
 '',
 'city',
 'iban',
 'resolution',
 'integer_number',
 'answer',
 'gender',
 'iban',
 'city',
 'academic_degree/title',
 'email',
 'url',
 'programming_language',
 'political_views',
 'gender',
 'first_name',
 'isbn',
 'credit_card_provider',
 'nationality',
 'integer_number',
 'phone_model',
 'answer',
 'first_name',
 'email',
 'full_address',
 'graphics',
 'currency',
 'float_number',
 'last_name',
 'gender',
 'iban',
 'isbn',
 'duration',
 'credit_card_provider',
 'sexuality',
 'user_agent',
 'credit_card_provider',
 'drink',
 'longitude_and_latitude',
 'measure_unit',
 '',
 'cpu',
 'credit_card_number',
 'full_name',
 'credit_card_number',
 'academic_degree/title',
 'race',
 'id_card',
 'color',
 'dish',
 'graphics',
 'system_quality_attribute',
 'programming_language',
 'gender',
 '',
 'first_name',
 'resolution',
 'isbn',
 'first_name',
 'EAN_code',
 'political_views',
 'academic_degree/title',
 '',
 'academic_degree/title',
 'drink',
 'political_views',
 'word',
 'full_address',
 'last_name',
 'email, phone_number',
 'gender',
 'float_number',
 'phone_number',
 'isbn',
 'phone_number',
 'passport_number',
 'national_identification_number, email',
 'academic_degree/title',
 'longitude_and_latitude',
 'language',
 'political_views',
 'last_name',
 'phone_model',
 'gender',
 'religion/worldview',
 'manufacturer']

In [18]:
df_predictions = pd.DataFrame()

df_predictions['Feature'] = df_llm.columns.tolist()

for i, r in enumerate(result_formatted):
    df_predictions.loc[i, 'batch_gpt_prediction'] = r

df_predictions

                              Feature  batch_gpt_prediction
0                 drink_mixed_mimesis                 drink
1                      MnTvnRO2qGFq56                  date
2                     city_en_mimesis                  city
3    credit_card_provider_de_DE_faker  credit_card_provider
4                48i2GDrmZhvkUDPqTlaV       political_views
..                                ...                   ...
541                       Gqi7w4e4pxs             last_name
542            phone_model_fr_mimesis           phone_model
543                      sex_en_faker                gender
544                       XKANObF4OIs    religion/worldview
545        manufacturer_mixed_mimesis          manufacturer

[546 rows x 2 columns]

In [19]:
# df_predictions.to_csv('dessimf_predictions_batch_gpt03.csv', index=False)
df_predictions.to_csv('dessimf_predictions_batch_gpt07.csv', index=False)

In [20]:
df_predictions.shape

(546, 2)

# Test on two new languages

In [21]:
df_token_count_lan = pd.DataFrame()
for i in range(test_languages_data.shape[1]):
    conversation1 = [
        {"role": "system", "content": initial_prompt},
        {"role": "user", "content": example_prompt},
        {"role": "assistant", "content": example_answer}
    ]
    metadata1 = {
    "Dataset Name": "Test Languages",
    "Description": """ The dataset was synthetically generated using Mimesis and Faker and contains columns with personal and non-personal data.
    The values are in Italian and Chinese.
    """
    }
    data_prompt1 = "Classify the following column with careful consideration of the dataset description:\n" + str(metadata1) + "\n"
    
    s1 = "\n Column of the dataset to classify: '" + test_languages_data.columns[i] + "': "
    val_list1 = test_languages_data.iloc[:, i].value_counts().index.tolist()[:10]     #value_counts sorts the values in descending order
    s1 += str(val_list1) + "\n"

    data_prompt1 = data_prompt1 + s1 + classification_prompt
        
    conversation1.append({"role": "user", "content": data_prompt1})

    for c in conversation1:
        prompt1l = num_tokens_from_string(c['content'], "gpt-4o") # system
        prompt2l = num_tokens_from_string(c['content'], "gpt-4o") # user
        prompt3l = num_tokens_from_string(c['content'], "gpt-4o") # assistant
        df_token_count_lan.loc[i, 'token_count'] = prompt1l + prompt2l + prompt3l


    gpt.add_batch('batchlan07.jsonl', conversation1) # Updaqte the name of the jsonl
    
    # response = openai.chat.completions.create(
    #     model="gpt-4o",
    #     messages=conversation,
    #     seed=42
    # )
    
    # with open("gpt_predictions/test_languages_results.txt", "a") as file:
    #     file.write("\n" + response.choices[0].message.content.replace("\n", ""))

print(df_token_count_lan)

    token_count
0         912.0
1        1050.0
2         996.0
3        1077.0
4         990.0
..          ...
95       1050.0
96       1038.0
97       1098.0
98       1128.0
99       1041.0

[100 rows x 1 columns]

In [22]:
resultlan = gpt.ask_gpt(batchfile='batchlan07.jsonl')
result_formattedlan = []

for r in resultlan:
    start = r.index("[") + 1
    end = r.index("]")
    # Extract the substring
    res1 = r[start:end]
    res1= res1.replace("'", '')
    res1 = res1.replace('"', '')
    # if res == None:
    #     res = ''
    result_formattedlan.append(res1)

Batch was created with id: batch_67c8584eb2e881909f9f2f72abcf69a2

-----------------------------------------------------------------

Status: completedg, Elapsed Time: 0 Hours 1 Minutes 21 Secondss
Outputfile: file-7HkyS8gEdEBb1oSvTeSvMQ

Writing to file...
Done!

In [23]:
df_predictionslan = pd.DataFrame()

df_predictionslan['Feature'] = test_languages_data.columns.tolist()

for i, r in enumerate(result_formattedlan):
    df_predictionslan.loc[i, 'batch_gpt_prediction'] = r

df_predictionslan

                 Feature            batch_gpt_prediction
0   academic_degree_it_1           academic_degree/title
1        Fbh7x41Ztpdp4K8                             job
2        first_name_zh_1                      first_name
3           address_it_1                    full_address
4           aeTOdoe5c3ve              religion/worldview
..                   ...                             ...
95            VCJTBJahe8                           email
96     phone_number_zh_1                    phone_number
97              ssn_zh_1  national_identification_number
98    blV7vY7AZQ3VZprkYS                             url
99            email_zh_1                           email

[100 rows x 2 columns]

In [24]:
df_predictionslan.to_csv('Lan_predictions_batch_gpt07.csv', index=False)

# Test on kaggle data

In [17]:
initial_prompt_kaggle = """
As a classifier of personal related data in tabular datasets, your task is to analyze the provided columns (each containing up to ten distinct values)
and determine whether they contain information that originates from or relates to a person, even if it is not directly identifiable. 
Detecting personal related information helps ensure compliance with data protection regulations and safeguards individuals' privacy and security.
Output your results in a dictionary format with a boolean indicating if the column contains personal related data or not.
"""

example_prompt_kaggle = """
You can use the following example as a guideline:
Classify the following column with careful consideration of the dataset description:
Dataset: Title: "Test Dataset"
Description: "This dataset was used for a linear regression."
Features: ['first_name_en_10', 'last_name_en_10', 'email_en_10', 'phone_number', 'address_en_10', 'city_en_10', 'country_en_10', 'date', 'target']
Column of the dataset to classify: 'first_name_en_10': ['Tom', 'Walter', 'Mia', 'Lena', 'John', 'Jack', 'Felice', 'Anna', 'Lukas', 'Will']
Does this column, in the context of the dataset, contain information relating to a natural person?
"""

example_answer_kaggle = "Example Answer: {first_name_en_10: true}"
classification_prompt_kaggle = "Does this column, in the context of the dataset, contain information relating to a natural person?"

In [26]:
df_token_count_kag = pd.DataFrame()
for i in range(kaggle_data.shape[1]):
    conversation2 = [
        {"role": "system", "content": initial_prompt_kaggle},
        {"role": "user", "content": example_prompt_kaggle},
        {"role": "assistant", "content": example_answer_kaggle}
    ]
    
    with open(f"../datasets/kaggle_datasets/{kaggle_dataset.iloc[i,0]}/dataset-metadata.json", "r") as f:
        metadata2 = json.load(f)
    data_prompt2 = "Classify the following column with careful consideration of the dataset description. Dataset: Title: " + metadata2["title"] + "\n"
    data_prompt2 = data_prompt2 + "Description: " + metadata2["description"] + "\n"
    data_prompt2 = data_prompt2 + "Features: " + str(kaggle_data.iloc[:, kaggle_dataset.loc[kaggle_dataset["dataset"] == kaggle_dataset.iloc[i,0]].index].columns)
        
    s2 = "\n Column of the dataset to classify: '" + kaggle_data.columns[i] + "': "
    val_list2 = kaggle_data.iloc[:, i].value_counts().index.tolist()[:10]     #value_counts sorts the values in descending order
    s2 += str(val_list2) + "\n"

    data_prompt2 = data_prompt2 + s2 + classification_prompt_kaggle
        
    conversation2.append({"role": "user", "content": data_prompt2})

    for c in conversation2:
        prompt1k = num_tokens_from_string(c['content'], "gpt-4o") # system
        prompt2k = num_tokens_from_string(c['content'], "gpt-4o") # user
        prompt3k = num_tokens_from_string(c['content'], "gpt-4o") # assistant
        df_token_count_kag.loc[i, 'token_count'] = prompt1k + prompt2k + prompt3k


    gpt.add_batch('batchkaggle07.jsonl', conversation2) # Updaqte the name of the jsonl
    
    # response = openai.chat.completions.create(
    #     model="gpt-4o",
    #     messages=conversation,
    #     seed=42
    # )
    
    # with open("gpt_predictions/kaggle_results.txt", "a") as file:
    #     file.write("\n" + response.choices[0].message.content.replace("\n", ""))

print(df_token_count_kag)

     token_count
0         1773.0
1         1779.0
2         1743.0
3         1737.0
4         1704.0
..           ...
241       1377.0
242       1386.0
243       1437.0
244       1869.0
245       1632.0

[246 rows x 1 columns]

In [27]:
data_prompt2

"Classify the following column with careful consideration of the dataset description. Dataset: Title: Used Car Dataset\nDescription: ## Used Cars Dataset\n**Overview**\nThis dataset contains information about used cars in the Indian market, comprising 9,582 entries with 11 detailed attributes. The data appears to be collected up to November 2024, providing a comprehensive view of the second-hand car market in India.\n\n### Dataset Features\n**Brand:** Car manufacturer (e.g., Volkswagen, Maruti Suzuki, Honda, Tata)  \n**Model:** Specific car model (e.g., Taigun, Baleno, Polo, WRV)  \n**Year:** Manufacturing year of the vehicle (ranging from older models to 2024)  \n**Age:** Age of the vehicle in years  \n**kmDriven:** Total kilometers driven by the vehicle  \n**Transmission:** Type of transmission (Manual or Automatic)  \n**Owner:** Ownership status (first or second owner)  \n**FuelType:** Type of fuel (Petrol, Diesel, Hybrid/CNG)  \n**PostedDate:** When the car listing was posted  \n**AdditionalInfo:** Extra details about the vehicle  \n**AskPrice:** Listed price in Indian Rupees (₹)  \n\n### Dataset Statistics\n- Total entries: 9,582\n- Columns: 11\n- Memory usage: 823.6+ KB\n- Data types: Mixed (int64 and object)\n\n### Potential Use Cases\n- Price prediction modeling for used cars in India\n- Market analysis of different car segments\n- Study of depreciation patterns\n- Analysis of fuel type preferences\n- Understanding transmission preferences in the Indian market\n- Examining the relationship between kilometers driven and pricing\n- Brand value retention analysis\n\nThis dataset would be valuable for data scientists, automotive market analysts, and machine learning practitioners interested in the Indian automotive sector.\nFeatures: Index(['Brand', 'model', 'Year.1', 'Age.4', 'kmDriven', 'Transmission',\n       'Owner', 'FuelType', 'PostedDate', 'AdditionInfo', 'AskPrice'],\n      dtype='object')\n Column of the dataset to classify: 'AskPrice': ['₹ 4,25,000', '₹ 2,95,000', '₹ 5,75,000', '₹ 3,00,000', '₹ 6,85,000', '₹ 12,50,000', '₹ 11,25,000', '₹ 6,90,000', '₹ 6,10,000', '₹ 4,29,101']\nDoes this column, in the context of the dataset, contain information relating to a natural person?"

In [28]:
resultkaggle = gpt.ask_gpt(batchfile='batchkaggle07.jsonl')

Batch was created with id: batch_67c858b782e4819083446fcfff4dbcbf

-----------------------------------------------------------------

Status: completedss, Elapsed Time: 0 Hours 1 Minutes 21 Seconds
Outputfile: file-RrpiaZ9JtWmG9jbG4hGTxH

Writing to file...
Done!

In [15]:
import pandas as pd
import ast
import re

def extract_dict_content(s):
    try:
        # Try to parse as a dictionary
        d = ast.literal_eval(s)
        if isinstance(d, dict):
            return next(iter(d.items()))
    except (ValueError, SyntaxError):
        # If parsing fails, try to extract using regex
        match = re.match(r"{'(.+?)'\s*:\s*(true|false)}", s, re.IGNORECASE)
        if match:
            return match.group(1), match.group(2).lower() == 'true'
    return s, None

In [30]:


# Step 1: Extract valid entries
result_formattedkaggle1 = []
for r in resultkaggle:
    start = r.find("[") + 1
    end = r.rfind("]")
    if start > 0 and end != -1:
        result_formattedkaggle1.append(r[start:end])
    else:
        result_formattedkaggle1.append(r)

# Step 2: Parse and extract feature names + predictions
parsed_results = []
for r in result_formattedkaggle1:
    feature, prediction = extract_dict_content(r.strip())
    if prediction is None:
        # If not a dictionary, try to split by comma
        parts = r.split(',')
        if len(parts) == 2:
            feature, prediction = parts[0].strip(), parts[1].strip().lower() == 'true'
        else:
            feature, prediction = r, None
    parsed_results.append((feature, prediction))

# Step 3: Convert to DataFrame
df_predictionskaggle = pd.DataFrame(parsed_results, columns=['Feature', 'batch_gpt_prediction'])

# Step 4: Clean up the DataFrame
df_predictionskaggle['Feature'] = df_predictionskaggle['Feature'].str.strip()
df_predictionskaggle['batch_gpt_prediction'] = df_predictionskaggle['batch_gpt_prediction'].fillna(False)

# Step 5: Save to CSV
df_predictionskaggle.to_csv('kaggle_predictions_batch_gpt07.csv', index=False)

# Step 6: Display DataFrame
print(df_predictionskaggle)

                Feature  batch_gpt_prediction
0                    ID                  True
1    Reason for absence                  True
2      Month of absence                 False
3       Day of the week                 False
4               Seasons                 False
..                  ...                   ...
241               Owner                  True
242            FuelType                 False
243          PostedDate                 False
244        AdditionInfo                 False
245            AskPrice                 False

[246 rows x 2 columns]

# Test on openML data

In [31]:
classification_prompt_kaggle

'Does this column, in the context of the dataset, contain information relating to a natural person?'

## Open ML1

In [32]:
df_token_count_open1 = pd.DataFrame()
for i in range(openml_data.shape[1]):
    conversation3 = [
        {"role": "system", "content": initial_prompt_kaggle},
        {"role": "user", "content": example_prompt_kaggle},
        {"role": "assistant", "content": example_answer_kaggle}
    ]
    
    with open(f"../datasets/openml_datasets/{openml_dataset.iloc[i,0]}/metadata.json", "r") as f:
        metadata3 = json.load(f)
    data_prompt3 = "Classify the following column with careful consideration of the dataset's description:\n" + str(metadata3) + "\n"
    
    s3 = "\n Column of the dataset to classify: '" + openml_data.columns[i] + "': "
    val_list3 = openml_data.iloc[:, i].value_counts().index.tolist()[:10]     #value_counts sorts the values in descending order
    s3 += str(val_list3) + "\n"

    data_prompt3 = data_prompt3 + s3 + classification_prompt_kaggle
        
    conversation3.append({"role": "user", "content": data_prompt3})

    for c in conversation3:
        prompt1open1 = num_tokens_from_string(c['content'], "gpt-4o") # system
        prompt2open1 = num_tokens_from_string(c['content'], "gpt-4o") # user
        prompt3open1 = num_tokens_from_string(c['content'], "gpt-4o") # assistant
        df_token_count_open1.loc[i, 'token_count'] = prompt1open1 + prompt2open1 + prompt3open1


    gpt.add_batch('batchopen107.jsonl', conversation3) # Updaqte the name of the jsonl
    
    # response = openai.chat.completions.create(
    #     model="gpt-4o",
    #     messages=conversation,
    #     seed=42
    # )
    
    # with open("gpt_predictions/openml_results.txt", "a") as file:
    #     file.write("\n" + response.choices[0].message.content.replace("\n", ""))
print(df_token_count_open1)

     token_count
0         2679.0
1         2727.0
2         2799.0
3         2736.0
4         2832.0
..           ...
137       2616.0
138       2616.0
139       2589.0
140       2598.0
141       2544.0

[142 rows x 1 columns]

In [33]:
resultopen1 = gpt.ask_gpt(batchfile='batchopen107.jsonl')

Batch was created with id: batch_67c859201b888190a27beb2a35eb0038

-----------------------------------------------------------------

Status: completedss, Elapsed Time: 0 Hours 3 Minutes 22 Seconds
Outputfile: file-JgW1KoUxPYVDy74FMDadyW

Writing to file...
Done!

In [34]:

# Step 1: Extract valid entries
result_formattedopen1 = []
for r in resultopen1:
    start = r.find("[") + 1
    end = r.rfind("]")
    if start > 0 and end != -1:
        result_formattedopen1.append(r[start:end])
    else:
        result_formattedopen1.append(r)

# Step 2: Parse and extract feature names + predictions
parsed_resultsopen1 = []
for r in result_formattedopen1:
    feature, prediction = extract_dict_content(r.strip())
    if prediction is None:
        # If not a dictionary, try to split by comma
        parts = r.split(',')
        if len(parts) == 2:
            feature, prediction = parts[0].strip(), parts[1].strip().lower() == 'true'
        else:
            feature, prediction = r, None
    parsed_resultsopen1.append((feature, prediction))

# Step 3: Convert to DataFrame

df_predictionsopen1 = pd.DataFrame(parsed_resultsopen1, columns=['Feature', 'batch_gpt_prediction'])

# Step 4: Clean up the DataFrame

df_predictionsopen1['Feature'] = df_predictionsopen1['Feature'].str.strip()

df_predictionsopen1['batch_gpt_prediction'] = df_predictionsopen1['batch_gpt_prediction'].fillna(False)

# Step 5: Save to CSV
df_predictionsopen1.to_csv('open1_predictions_batch_gpt07.csv', index=False)

# Step 6: Display DataFrame
print(df_predictionsopen1)

           Feature  batch_gpt_prediction
0          User ID                  True
1             Name                  True
2    Email Address                  True
3         Username                  True
4    Date of Birth                  True
..             ...                   ...
137            V28                  True
138            V29                  True
139            V30                  True
140            V31                  True
141            V32                  True

[142 rows x 2 columns]

## OpeML2

In [35]:
df_token_count_open2 = pd.DataFrame()
for i in range(openml_2_data.shape[1]):
    conversation4 = [
        {"role": "system", "content": initial_prompt_kaggle},
        {"role": "user", "content": example_prompt_kaggle},
        {"role": "assistant", "content": example_answer_kaggle}
    ]
    
    with open(f"../datasets/openml_datasets_2/{openml_2_dataset.iloc[i,0]}/metadata.json", "r") as f:
        metadata4 = json.load(f)
    data_prompt4 = "Classify the following column with careful consideration of the dataset's description:\n" + str(metadata4) + "\n"

    s4 = "\n Column of the dataset to classify: '" + openml_2_data.columns[i] + "': "
    val_list4 = openml_2_data.iloc[:, i].value_counts().index.tolist()[:10]     #value_counts sorts the values in descending order
    s4 += str(val_list4) + "\n"

    data_prompt4 = data_prompt4 + s4 + classification_prompt_kaggle
        
    conversation4.append({"role": "user", "content": data_prompt4})

    for c in conversation4:
        prompt1open2 = num_tokens_from_string(c['content'], "gpt-4o") # system
        prompt2open2 = num_tokens_from_string(c['content'], "gpt-4o") # user
        prompt3open2 = num_tokens_from_string(c['content'], "gpt-4o") # assistant
        df_token_count_open2.loc[i, 'token_count'] = prompt1open2 + prompt2open2 + prompt3open2


    gpt.add_batch('batchopen207.jsonl', conversation4) # Updaqte the name of the jsonl
    
    # response = openai.chat.completions.create(
    #     model="gpt-4o",
    #     messages=conversation,
    #     seed=42
    # )
    
    # with open("gpt_predictions/openml_2_results.txt", "a") as file:
    #     file.write("\n" + response.choices[0].message.content.replace("\n", ""))

In [73]:
data_prompt4

'Classify the following column with careful consideration of the dataset\'s description:\n{\'Dataset Name: \': \'wine_quality\', \'Description: \': \'**Author**: Tobias Kuehn  \\n**Source**: Unknown - 2009  \\n**Please cite**:   \\n\\n1. Title: Wine Quality \\n\\n2. Sources\\nCreated by: Paulo Cortez (Univ. Minho), Antonio Cerdeira, Fernando Almeida, Telmo Matos and Jose Reis (CVRVV) @ 2009\\n    \\n3. Past Usage:\\nP. Cortez, A. Cerdeira, F. Almeida, T. Matos and J. Reis. \\nModeling wine preferences by data mining from physicochemical properties.\\nIn Decision Support Systems, Elsevier, 47(4):547-553. ISSN: 0167-9236.\\n\\nIn the above reference, two datasets were created, using red and white wine samples.\\nThe inputs include objective tests (e.g. PH values) and the output is based on sensory data (median of at least 3 evaluations made by wine experts). Each expert graded the wine quality between 0 (very bad) and 10 (very excellent). Several data mining methods were applied to model these datasets under a regression approach. The support vector machine model achieved the best results. Several metrics were computed: MAD, confusion matrix for a fixed error tolerance (T), etc. Also, we plot the relative importances of the input variables (as measured by a sensitivity analysis procedure).\\n \\n4. Relevant Information:\\nThe two datasets are related to red and white variants of the Portuguese "Vinho Verde" wine. For more details, consult: http://www.vinhoverde.pt/en/ or the reference [Cortez et al., 2009]. Due to privacy and logistic issues, only physicochemical (inputs) and sensory (the output) variables  are available (e.g. there is no data about grape types, wine brand, wine selling price, etc.).\\nThese datasets can be viewed as classification or regression tasks.\\nThe classes are ordered and not balanced (e.g. there are munch more normal wines than excellent or poor ones). Outlier detection algorithms could be used to detect the few excellent or poor wines. Also, we are not sure if all input variables are relevant. So it could be interesting to test feature selection methods. \\n\\n5. Number of Instances: red wine - first 1599 instances; white wine - instances 1600 to 6497. \\n \\n6. Number of Attributes: 11 + output attribute\\nNote: several of the attributes may be correlated, thus it makes sense to apply some sort of feature selection.\\n\\n7. Attribute information:\\nFor more information, read [Cortez et al., 2009].\\nInput variables (based on physicochemical tests):\\n1 - fixed acidity\\n2 - volatile acidity\\n3 - citric acid\\n4 - residual sugar\\n5 - chlorides\\n6 - free sulfur dioxide\\n7 - total sulfur dioxide\\n8 - density\\n9 - pH\\n10 - sulphates\\n11 - alcohol\\nOutput variable (based on sensory data): \\n12 - quality (score between 0 and 10)\\n\\n8. Missing Attribute Values: None\', \'Features: \': \'[[0 - fixed.acidity (numeric)], [1 - volatile.acidity (numeric)], [2 - citric.acid (numeric)], [3 - residual.sugar (numeric)], [4 - chlorides (numeric)], [5 - free.sulfur.dioxide (numeric)], [6 - total.sulfur.dioxide (numeric)], [7 - density (numeric)], [8 - pH (numeric)], [9 - sulphates (numeric)], [10 - alcohol (numeric)], [11 - quality (numeric)]]\'}\n\n Column of the dataset to classify: \'quality\': [5, 6, 4, 7]\nDoes this column, in the context of the dataset, contain information relating to a natural person?'

In [36]:
resultopen2 = gpt.ask_gpt(batchfile='batchopen207.jsonl')

Batch was created with id: batch_67c85a02134c81908b65d018d7e79bbd

-----------------------------------------------------------------

Status: completedg, Elapsed Time: 0 Hours 1 Minutes 20 Secondss
Outputfile: file-3qkFRpeLjPjiTcGJcpsHBf

Writing to file...
Done!

In [37]:
# Step 1: Extract valid entries
result_formattedopen2 = []
for r in resultopen2:
    start = r.find("[") + 1
    end = r.rfind("]")
    if start > 0 and end != -1:
        result_formattedopen2.append(r[start:end])
    else:
        result_formattedopen2.append(r)

# Step 2: Parse and extract feature names + predictions
parsed_resultsopen2 = []
for r in result_formattedopen2:
    feature, prediction = extract_dict_content(r.strip())
    if prediction is None:
        # If not a dictionary, try to split by comma
        parts = r.split(',')
        if len(parts) == 2:
            feature, prediction = parts[0].strip(), parts[1].strip().lower() == 'true'
        else:
            feature, prediction = r, None
    parsed_resultsopen2.append((feature, prediction))

# Step 3: Convert to DataFrame

df_predictionsopen2 = pd.DataFrame(parsed_resultsopen2, columns=['Feature', 'batch_gpt_prediction'])

# Step 4: Clean up the DataFrame

df_predictionsopen2['Feature'] = df_predictionsopen2['Feature'].str.strip()

df_predictionsopen2['batch_gpt_prediction'] = df_predictionsopen2['batch_gpt_prediction'].fillna(False)

# Step 5: Save to CSV
df_predictionsopen2.to_csv('open2_predictions_batch_gpt07.csv', index=False)

# Step 6: Display DataFrame
print(df_predictionsopen2)

              Feature  batch_gpt_prediction
0          Unnamed:_0                 False
1                Date                 False
2        AveragePrice                 False
3        Total_Volume                 False
4                4046                 False
..                ...                   ...
111           density                 False
112                pH                 False
113         sulphates                 False
114           alcohol                 False
115  {quality: false}                 False

[116 rows x 2 columns]

In [63]:
df_predictionsopen2[df_predictionsopen2['batch_gpt_prediction']==False]

              Feature  batch_gpt_prediction
0          Unnamed:_0                 False
1                Date                 False
2        AveragePrice                 False
3        Total_Volume                 False
4                4046                 False
..                ...                   ...
111           density                 False
112                pH                 False
113         sulphates                 False
114           alcohol                 False
115  {quality: false}                 False

[105 rows x 2 columns]

## OpenML All

        0.3 temperature

In [12]:
openmlall

,User ID,Name,Email Address,Username,Date of Birth,Gender,Location,Membership Start Date,Membership End Date,Subscription Plan,...,citric.acid,residual.sugar,chlorides,free.sulfur.dioxide,total.sulfur.dioxide,density,pH,sulphates,alcohol,quality
0,1,Ronald Murphy,williamholland@example.com,williamholland,1953-06-03,Male,Rebeccachester,2024-01-15,2025-01-14,Annual,...,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,2,Scott Allen,scott22@example.org,scott22,1978-07-08,Male,Mcphersonview,2024-01-07,2025-01-06,Monthly,...,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,3,Jonathan Parrish,brooke16@example.org,brooke16,1994-12-06,Female,Youngfort,2024-04-13,2025-04-13,Monthly,...,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,4,Megan Williams,elizabeth31@example.net,elizabeth31,1964-12-22,Female,Feliciashire,2024-01-24,2025-01-23,Monthly,...,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,5,Kathryn Brown,pattersonalexandra@example.org,pattersonalexandra,1961-06-04,Male,Port Deborah,2024-02-14,2025-02-13,Annual,...,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,Mackenzie Harris,andersonemily@example.net,andersonemily,1963-11-06,Female,Lake Barryland,2024-03-01,2025-03-01,Annual,...,0.17,2.3,0.058,17.0,106.0,0.9932,3.85,0.60,12.9,6
96,97,Stephanie Potter,heather10@example.org,heather10,1958-05-05,Female,New Teresaburgh,2024-03-25,2025-03-25,Monthly,...,0.00,3.0,0.102,8.0,23.0,0.9965,3.45,0.56,10.7,5
97,98,Mitchell Potter,fsanchez@example.net,fsanchez,1979-08-27,Male,South Katieburgh,2024-01-27,2025-01-26,Annual,...,0.25,2.0,0.070,3.0,22.0,0.9963,3.25,0.63,9.2,5
98,99,Jonathan Rodriguez,nichole85@example.net,nichole85,1967-12-20,Male,East Shannonhaven,2024-02-29,2025-02-28,Monthly,...,0.06,2.5,0.079,5.0,10.0,0.9967,3.39,0.56,9.8,5
99,100,Jennifer Davis,zunigashelly@example.org,zunigashelly,1950-01-15,Female,West Nathanielton,2024-02-14,2025-02-13,Annual,...,0.18,1.9,0.080,13.0,35.0,0.9972,3.30,0.59,9.0,6

In [20]:
df_token_count_openall = pd.DataFrame()
for i in range(openmlall_data.shape[1]):
    conversationall = [
        {"role": "system", "content": initial_prompt_kaggle},
        {"role": "user", "content": example_prompt_kaggle},
        {"role": "assistant", "content": example_answer_kaggle}
    ]
    
    with open(f"../datasets/OpenMLall_dataset/{openmlall_datasets.iloc[i,0]}/metadata.json", "r") as f:
        metadataall = json.load(f)
    data_promptall = "Classify the following column with careful consideration of the dataset's description:\n" + str(metadataall) + "\n"
    
    sall = "\n Column of the dataset to classify: '" + openmlall_data.columns[i] + "': "
    val_listall = openmlall_data.iloc[:, i].value_counts().index.tolist()[:10]     #value_counts sorts the values in descending order
    sall += str(val_listall) + "\n"

    data_promptall = data_promptall + sall + classification_prompt_kaggle
        
    conversationall.append({"role": "user", "content": data_promptall})

    for c in conversationall:
        prompt1openall = num_tokens_from_string(c['content'], "gpt-4o") # system
        prompt2openall = num_tokens_from_string(c['content'], "gpt-4o") # user
        prompt3openall = num_tokens_from_string(c['content'], "gpt-4o") # assistant
        df_token_count_openall.loc[i, 'token_count'] = prompt1openall + prompt2openall + prompt3openall


    gpt.add_batch('batchopenall03.jsonl', conversationall) # Updaqte the name of the jsonl
    
print(df_token_count_openall)

     token_count
0         2679.0
1         2727.0
2         2799.0
3         2736.0
4         2832.0
..           ...
253       2688.0
254       2664.0
255       2670.0
256       2664.0
257       2547.0

[258 rows x 1 columns]

In [ ]:
resultopenall = gpt.ask_gpt(batchfile='batchopenall03.jsonl')

Batch was created with id: batch_67dc713402288190b2668c26a39ccfd4

-----------------------------------------------------------------

Status: in_progress, Elapsed Time: 0 Hours 1 Minutes 1 Secondss

In [ ]:

# Step 1: Extract valid entries
result_formattedopenall = []
for r in resultopenall:
    start = r.find("[") + 1
    end = r.rfind("]")
    if start > 0 and end != -1:
        result_formattedopenall.append(r[start:end])
    else:
        result_formattedopenall.append(r)

# Step 2: Parse and extract feature names + predictions
parsed_resultsopenall = []
for r in result_formattedopenall:
    feature, prediction = extract_dict_content(r.strip())
    if prediction is None:
        # If not a dictionary, try to split by comma
        parts = r.split(',')
        if len(parts) == 2:
            feature, prediction = parts[0].strip(), parts[1].strip().lower() == 'true'
        else:
            feature, prediction = r, None
    parsed_resultsopenall.append((feature, prediction))

# Step 3: Convert to DataFrame

df_predictionsopenall = pd.DataFrame(parsed_resultsopenall, columns=['Feature', 'batch_gpt_prediction'])

# Step 4: Clean up the DataFrame

df_predictionsopenall['Feature'] = df_predictionsopenall['Feature'].str.strip()

df_predictionsopenall['batch_gpt_prediction'] = df_predictionsopenall['batch_gpt_prediction'].fillna(False)

# Step 5: Save to CSV
df_predictionsopenall.to_csv('openall_predictions_batch_gpt03.csv', index=False)

# Step 6: Display DataFrame
print(df_predictionsopenall)

# Test on medical data

In [38]:
df_token_count_med = pd.DataFrame()
for i in range(medical_data.shape[1]):
    conversation5 = [
        {"role": "system", "content": initial_prompt_kaggle},
        {"role": "user", "content": example_prompt_kaggle},
        {"role": "assistant", "content": example_answer_kaggle}
    ]
    
    metadata5 = {
    "Dataset Name": "Medical Patient Dataset",
    "Description": """  This dataset contains personal information about patients in a medical facility.
    """
    }
    data_prompt5 = "Classify the following column with careful consideration of the dataset description:\n" + str(metadata5) + "\n"

    s5 = "\n Column of the dataset to classify: '" + medical_data.columns[i] + "': "
    val_list5 = medical_data.iloc[:, i].value_counts().index.tolist()[:10]     #value_counts sorts the values in descending order
    s5 += str(val_list5) + "\n"

    data_prompt5 = data_prompt5 + s5 + classification_prompt_kaggle
        
    conversation5.append({"role": "user", "content": data_prompt5})

    for c in conversation5:
        prompt1med = num_tokens_from_string(c['content'], "gpt-4o") # system
        prompt2med = num_tokens_from_string(c['content'], "gpt-4o") # user
        prompt3med = num_tokens_from_string(c['content'], "gpt-4o") # assistant
        df_token_count_med.loc[i, 'token_count'] = prompt1med + prompt2med + prompt3med


    gpt.add_batch('batchmed07.jsonl', conversation5) # Updaqte the name of the jsonl
    
    # response = openai.chat.completions.create(
    #     model="gpt-4o",
    #     messages=conversation,
    #     seed=42
    # )
    
    # with open("gpt_predictions/medical_results.txt", "a") as file:
    #     file.write("\n" + response.choices[0].message.content.replace("\n", ""))
print(df_token_count_med)

    token_count
0         615.0
1         549.0
2         231.0
3         360.0
4         237.0
5         639.0
6         234.0
7         234.0
8         234.0
9         231.0
10        234.0
11        234.0
12        243.0
13        240.0
14        435.0
15        381.0
16        339.0
17        243.0
18        237.0
19        246.0
20        252.0
21        252.0
22        483.0
23        483.0
24        333.0
25        309.0
26        315.0
27        228.0
28        231.0
29        231.0
30        228.0
31        231.0

In [39]:
data_prompt5

"Classify the following column with careful consideration of the dataset description:\n{'Dataset Name': 'Medical Patient Dataset', 'Description': '  This dataset contains personal information about patients in a medical facility.\\n    '}\n\n Column of the dataset to classify: 'amphetamin': [0]\nDoes this column, in the context of the dataset, contain information relating to a natural person?"

In [40]:
medical_data['amphetamin']

0     0
1     0
2     0
3     0
4     0
     ..
95    0
96    0
97    0
98    0
99    0
Name: amphetamin, Length: 100, dtype: int64

In [41]:
resultmed = gpt.ask_gpt(batchfile='batchmed07.jsonl')

Batch was created with id: batch_67c85a69a27c8190bb459bc16a13dcda

-----------------------------------------------------------------

Status: completedss, Elapsed Time: 0 Hours 1 Minutes 41 Seconds
Outputfile: file-6FpygQxS7w6YXoSmifmiGu

Writing to file...
Done!

In [42]:
# result_formattedmed = []

# for r in resultmed:
#     start = r.index("[") + 1
#     end = r.index("]")
#     # Extract the substring
#     res5 = r[start:end]
#     res5= res5.replace("'", '')
#     res5 = res5.replace('"', '')
#     # if res == None:
#     #     res = ''
#     result_formattedmed.append(res5)

In [43]:
medical_data.columns.tolist()

['encounter_id',
 'patient_id',
 'admission_type',
 'admission_reason',
 'last_encounter',
 'birth_date',
 'aids',
 'wloss',
 'alcohol',
 'drug',
 'psycho',
 'depre',
 'hemorhage_stroke',
 'ischemic_stroke',
 'first_operation_code',
 'major_surgery',
 'discharge',
 'gender',
 'dementia',
 'any_medication',
 'any_grouped_medication',
 'any_acute_medication',
 'age_at_visit',
 'total_number_operations',
 'total_opeartion_duration',
 'number_of_surgeries',
 'major_surgery_duration',
 'cocaine',
 'cannabis',
 'barbiturate',
 'opiate',
 'amphetamin']

In [44]:
# result_formattedmm= []
# for r in resultm:
#     start = r.find("[") + 1
#     end = r.find("]")

#     if start == 0 or end == -1:  # Meaning "[" or "]" is missing
#         print(f"{r}")
#         result_formattedkaggle1.append(r)

In [45]:
resultmed

["{'encounter_id': true}",
 "{'patient_id': true}",
 "{'admission_type': true}",
 "{'admission_reason': true}",
 "{'last_encounter': true}",
 "{'birth_date': true}",
 "{'aids': true}",
 "{'wloss': true}",
 "{'alcohol': true}",
 "{'drug': True}",
 "{'psycho': true}",
 "{'depre': true}",
 "{'hemorhage_stroke': true}",
 "{'ischemic_stroke': true}",
 "{'first_operation_code': true}",
 "{'major_surgery': true}",
 "{'discharge': true}",
 "{'gender': true}",
 "{'dementia': true}",
 "{'any_medication': true}",
 "{'any_grouped_medication': true}",
 "{'any_acute_medication': true}",
 "{'age_at_visit': true}",
 "{'total_number_operations': true}",
 "{'total_opeartion_duration': true}",
 "{'number_of_surgeries': true}",
 "{'major_surgery_duration': true}",
 "{'cocaine': true}",
 "{'cannabis': true}",
 "{'barbiturate': true}",
 "{'opiate': true}",
 "{'amphetamin': true}"]

In [7]:
import pandas as pd
import ast
import re

def extract_dict_content(s):
    try:
        # Try to parse as a dictionary
        d = ast.literal_eval(s)
        if isinstance(d, dict):
            return next(iter(d.items()))
    except (ValueError, SyntaxError):
        # If parsing fails, try to extract using regex
        match = re.match(r"{'(.+?)'\s*:\s*(true|false)}", s, re.IGNORECASE)
        if match:
            return match.group(1), match.group(2).lower() == 'true'
    return s, None

In [47]:
# Step 1: Extract valid entries
result_formattedmed = []
for r in resultmed:
    start = r.find("[") + 1
    end = r.rfind("]")
    if start > 0 and end != -1:
        result_formattedmed.append(r[start:end])
    else:
        result_formattedmed.append(r)

# Step 2: Parse and extract feature names + predictions
parsed_resultsmed = []
for r in result_formattedmed:
    feature, prediction = extract_dict_content(r.strip())
    if prediction is None:
        # If not a dictionary, try to split by comma
        parts = r.split(',')
        if len(parts) == 2:
            feature, prediction = parts[0].strip(), parts[1].strip().lower() == 'true'
        else:
            feature, prediction = r, None
    parsed_resultsmed.append((feature, prediction))

# Step 3: Convert to DataFrame

df_predictionsmed = pd.DataFrame(parsed_resultsmed, columns=['Feature', 'batch_gpt_prediction'])

# Step 4: Clean up the DataFrame

df_predictionsmed['Feature'] = df_predictionsmed['Feature'].str.strip()

df_predictionsmed['batch_gpt_prediction'] = df_predictionsmed['batch_gpt_prediction'].fillna(False)

# Step 5: Save to CSV
df_predictionsmed.to_csv('med_predictions_batch_gpt07.csv', index=False)

# Step 6: Display DataFrame
print(df_predictionsmed)

                     Feature  batch_gpt_prediction
0               encounter_id                  True
1                 patient_id                  True
2             admission_type                  True
3           admission_reason                  True
4             last_encounter                  True
5                 birth_date                  True
6                       aids                  True
7                      wloss                  True
8                    alcohol                  True
9                       drug                  True
10                    psycho                  True
11                     depre                  True
12          hemorhage_stroke                  True
13           ischemic_stroke                  True
14      first_operation_code                  True
15             major_surgery                  True
16                 discharge                  True
17                    gender                  True
18                  dementia                  True
19            any_medication                  True
20    any_grouped_medication                  True
21      any_acute_medication                  True
22              age_at_visit                  True
23   total_number_operations                  True
24  total_opeartion_duration                  True
25       number_of_surgeries                  True
26    major_surgery_duration                  True
27                   cocaine                  True
28                  cannabis                  True
29               barbiturate                  True
30                    opiate                  True
31                amphetamin                  True

## Create the real MedHonda Data

MIMIC DATASET

In [10]:
# MIMICmedical_data = pd.read_csv('/home/aagisha/Documents/PhD Albert/CodingPhDStart1/Bachelor Projects HSAA/PIIDETECTION/Personal-Detection/datasets/MIMICIIIandHonda/Mimic_GPT_Evaluation.csv')
# MIMICmedical_labels = pd.read_csv('/home/aagisha/Documents/PhD Albert/CodingPhDStart1/Bachelor Projects HSAA/PIIDETECTION/Personal-Detection/datasets/MIMICIIIandHonda/column_labels.csv')

In [11]:
# colum = MIMICmedical_data.columns.to_list()[1:]
# MIMICmedical= MIMICmedical_data[colum]

In [19]:
MIMICmedical_Used= pd.read_csv('../datasets/MIMICIIIandHonda/Mimic_for_Use.csv')

In [20]:
MIMICmedical_Used.shape

(200, 164)

In [9]:
colum1 = MIMICmedical_Used.columns.to_list()[1:]

In [10]:
MIMICmedical_Used= MIMICmedical_Used[colum1]

In [11]:
MIMICmedical_Used

,row_id,subject_id,hadm_id,icustay_id,dbsource,eventtype,prev_careunit,curr_careunit,prev_wardid,curr_wardid,...,location,locationcategory,first_careunit,last_careunit,first_wardid,last_wardid,drg_type,drg_code,drg_severity,drg_mortality
0,54440,10006.0,142345.0,206504.0,carevue,admit,,MICU,,52.0,...,,,,,,,,,,
1,54441,10006.0,142345.0,,carevue,transfer,MICU,,52.0,45.0,...,,,,,,,,,,
2,54442,10006.0,142345.0,,carevue,discharge,,,45.0,,...,,,,,,,,,,
3,54460,10011.0,105331.0,232110.0,carevue,admit,,MICU,,15.0,...,,,,,,,,,,
4,54461,10011.0,105331.0,,carevue,discharge,MICU,,15.0,,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,54915,10119.0,157466.0,,carevue,admit,,,,36.0,...,,,,,,,,,,
196,54916,10119.0,157466.0,247686.0,carevue,transfer,,SICU,36.0,33.0,...,,,,,,,,,,
197,54917,10119.0,157466.0,,carevue,transfer,SICU,,33.0,3.0,...,,,,,,,,,,
198,54918,10119.0,157466.0,,carevue,transfer,,,3.0,3.0,...,,,,,,,,,,
199,54919,10119.0,157466.0,,carevue,transfer,,,3.0,3.0,...,,,,,,,,,,

In [12]:
classification_prompt_mimic = "Does this column contain information that, alone or in combination with one or more other columns, could contribute to identifying a natural person in the context of the MIMIC-III dataset?"

In [13]:
df_token_count_mimic1 = pd.DataFrame()
for i in range(MIMICmedical_Used.shape[1]):
    conversation7 = [
        {"role": "system", "content": initial_prompt_kaggle},
        {"role": "user", "content": example_prompt_kaggle},
        {"role": "assistant", "content": example_answer_kaggle}
    ]
    
    metadata7 = {
    "Dataset Name": "Compiled MIMIC-III Dataset",
    "Description": """This dataset is a compiled version of MIMIC-III (Medical Information Mart for Intensive Care III), containing structured medical and administrative records of ICU patients from Beth Israel Deaconess Medical Center between 2001 and 2012. 
    It includes patient demographics, hospital admissions, clinical events, vital signs, laboratory results, medications, caregiver notes, fluid balance, procedure codes, diagnostic codes, imaging reports, hospital length of stay, survival data, and billing information. """
}

    data_prompt7 = "Classify the following column with careful consideration of the dataset description:\n" + str(metadata7) + "\n"

    s7 = "\n Column of the dataset to classify: '" + MIMICmedical_Used.columns[i] + "': "
    val_list7 = MIMICmedical_Used.iloc[:, i].value_counts().index.tolist()[:10]     #value_counts sorts the values in descending order
    s7 += str(val_list7) + "\n"

    data_prompt7 = data_prompt7 + s7 + classification_prompt_mimic
        
    conversation7.append({"role": "user", "content": data_prompt7})

    for c in conversation7:
        prompt1m7 = num_tokens_from_string(c['content'], "gpt-4o") # system
        prompt2m7 = num_tokens_from_string(c['content'], "gpt-4o") # user
        prompt3m7 = num_tokens_from_string(c['content'], "gpt-4o") # assistant
        df_token_count_mimic1.loc[i, 'token_count'] = prompt1m7 + prompt2m7 + prompt3m7


    gpt.add_batch('batchmimic01New.jsonl', conversation7) # Updaqte the name of the jsonl
    
    # response = openai.chat.completions.create(
    #     model="gpt-4o",
    #     messages=conversation,
    #     seed=42
    # )
    
    # with open("gpt_predictions/medical_results.txt", "a") as file:
    #     file.write("\n" + response.choices[0].message.content.replace("\n", ""))
print(df_token_count_mimic1)

     token_count
0          648.0
1          708.0
2          711.0
3          702.0
4          540.0
..           ...
158        543.0
159        540.0
160        540.0
161        543.0
162        546.0

[163 rows x 1 columns]

In [14]:
data_prompt7

"Classify the following column with careful consideration of the dataset description:\n{'Dataset Name': 'Compiled MIMIC-III Dataset', 'Description': 'This dataset is a compiled version of MIMIC-III (Medical Information Mart for Intensive Care III), containing structured medical and administrative records of ICU patients from Beth Israel Deaconess Medical Center between 2001 and 2012. \\n    It includes patient demographics, hospital admissions, clinical events, vital signs, laboratory results, medications, caregiver notes, fluid balance, procedure codes, diagnostic codes, imaging reports, hospital length of stay, survival data, and billing information. '}\n\n Column of the dataset to classify: 'drg_mortality': [' ']\nDoes this column contain information that, alone or in combination with one or more other columns, could contribute to identifying a natural person in the context of the MIMIC-III dataset?"

In [15]:
MIMICmedical_Used

,row_id,subject_id,hadm_id,icustay_id,dbsource,eventtype,prev_careunit,curr_careunit,prev_wardid,curr_wardid,...,location,locationcategory,first_careunit,last_careunit,first_wardid,last_wardid,drg_type,drg_code,drg_severity,drg_mortality
0,54440,10006.0,142345.0,206504.0,carevue,admit,,MICU,,52.0,...,,,,,,,,,,
1,54441,10006.0,142345.0,,carevue,transfer,MICU,,52.0,45.0,...,,,,,,,,,,
2,54442,10006.0,142345.0,,carevue,discharge,,,45.0,,...,,,,,,,,,,
3,54460,10011.0,105331.0,232110.0,carevue,admit,,MICU,,15.0,...,,,,,,,,,,
4,54461,10011.0,105331.0,,carevue,discharge,MICU,,15.0,,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,54915,10119.0,157466.0,,carevue,admit,,,,36.0,...,,,,,,,,,,
196,54916,10119.0,157466.0,247686.0,carevue,transfer,,SICU,36.0,33.0,...,,,,,,,,,,
197,54917,10119.0,157466.0,,carevue,transfer,SICU,,33.0,3.0,...,,,,,,,,,,
198,54918,10119.0,157466.0,,carevue,transfer,,,3.0,3.0,...,,,,,,,,,,
199,54919,10119.0,157466.0,,carevue,transfer,,,3.0,3.0,...,,,,,,,,,,

In [16]:
resultmimic1 = gpt.ask_gpt(batchfile='batchmimic01New.jsonl')

Batch was created with id: batch_67cb042cc11c8190bba4d12e4e540e7e

-----------------------------------------------------------------

Status: completedss, Elapsed Time: 0 Hours 2 Minutes 22 Seconds
Outputfile: file-9uzXivboMQQTdKggzm8d2S

Writing to file...
Done!

In [17]:
import pandas as pd
import ast
import re

def extract_dict_content(s):
    try:
        # Try to parse as a dictionary
        d = ast.literal_eval(s)
        if isinstance(d, dict):
            return next(iter(d.items()))
    except (ValueError, SyntaxError):
        # If parsing fails, try to extract using regex
        match = re.match(r"{'(.+?)'\s*:\s*(true|false)}", s, re.IGNORECASE)
        if match:
            return match.group(1), match.group(2).lower() == 'true'
    return s, None

In [18]:
# Step 1: Extract valid entries
result_formattedmimic1 = []
for r in resultmimic1:
    start = r.find("[") + 1
    end = r.rfind("]")
    if start > 0 and end != -1:
        result_formattedmimic1.append(r[start:end])
    else:
        result_formattedmimic1.append(r)

# Step 2: Parse and extract feature names + predictions
parsed_resultsmimic1 = []
for r in result_formattedmimic1:
    feature, prediction = extract_dict_content(r.strip())
    if prediction is None:
        # If not a dictionary, try to split by comma
        parts = r.split(',')
        if len(parts) == 2:
            feature, prediction = parts[0].strip(), parts[1].strip().lower() == 'true'
        else:
            feature, prediction = r, None
    parsed_resultsmimic1.append((feature, prediction))

# Step 3: Convert to DataFrame

df_predictionsmimic1 = pd.DataFrame(parsed_resultsmimic1, columns=['Feature', 'batch_gpt_prediction'])

# Step 4: Clean up the DataFrame

df_predictionsmimic1['Feature'] = df_predictionsmimic1['Feature'].str.strip()

#df_predictionsmimic1['batch_gpt_prediction'] = df_predictionsmimic1['batch_gpt_prediction'].fillna(False)

# Step 5: Save to CSV
df_predictionsmimic1.to_csv('mimic_predictions_batch_gpt01New.csv', index=False)

# Step 6: Display DataFrame
print(df_predictionsmimic1)

           Feature batch_gpt_prediction
0           row_id                False
1       subject_id                 True
2          hadm_id                 True
3       icustay_id                 True
4         dbsource                False
..             ...                  ...
158    last_wardid                 True
159       drg_type                False
160       drg_code                 True
161   drg_severity                False
162  drg_mortality                False

[163 rows x 2 columns]

In [19]:
df_predictionsmimic1[df_predictionsmimic1['batch_gpt_prediction'].isnull()]

                      Feature batch_gpt_prediction
27           'ab_name': False                 None
90  {subsectionheader: false}                 None
91      'abbreviation': False                 None

# Test on medical data + Honda

# Test on kaggle data and openml data PII

In [ ]:
# initial_prompt_kaggle_pii = """
# As a classifier of personal identifiable information (pii) in tabular datasets, 
# your task is to analyze the provided columns (each containing up to ten distinct values)
# and determine whether they contain information that can directly identify a person. 
# Detecting pii data helps ensure compliance with data protection regulations and safeguards individuals' privacy and security.
# Output your results in a dictionary format with a boolean indicating if the column contains pii data or not.
# """

# example_prompt_kaggle_pii = """
# You can use the following example as a guideline:
# Classify the following column with careful consideration of the dataset description:
# Dataset: Title: "Test Dataset"
# Description: "This dataset was used for a linear regression."
# Features: ['first_name_en_10', 'last_name_en_10', 'email_en_10', 'phone_number', 'address_en_10', 'city_en_10', 'country_en_10', 'date', 'target']
# Column of the dataset to classify: 'first_name_en_10': ['Tom', 'Walter', 'Mia', 'Lena', 'John', 'Jack', 'Felice', 'Anna', 'Lukas', 'Will']
# Does this column, in the context of the dataset, contain personal identifiable information?
# """

# example_answer_kaggle_pii = "Example Answer: {first_name_en_10: true}"
# classification_prompt_kaggle_pii = "Does this column, in the context of the dataset, contain personal identifiable information?"

In [ ]:
# for i in range(kaggle_data.shape[1]):
#     conversation = [
#         {"role": "system", "content": initial_prompt_kaggle_pii},
#         {"role": "user", "content": example_prompt_kaggle_pii},
#         {"role": "assistant", "content": example_answer_kaggle_pii}
#     ]
    
#     with open(f"../datasets/kaggle_datasets/{kaggle_dataset.iloc[i,0]}/dataset-metadata.json", "r") as f:
#         metadata = json.load(f)
#     data_prompt = "Classify the following column with careful consideration of the dataset description. Dataset: Title: " + metadata["title"] + "\n"
#     data_prompt = data_prompt + "Description: " + metadata["description"] + "\n"
#     data_prompt = data_prompt + "Features: " + str(kaggle_data.iloc[:, kaggle_dataset.loc[kaggle_dataset["dataset"] == kaggle_dataset.iloc[i,0]].index].columns)
        
#     s = "\n Column of the dataset to classify: '" + kaggle_data.columns[i] + "': "
#     val_list = kaggle_data.iloc[:, i].value_counts().index.tolist()[:10]     #value_counts sorts the values in descending order
#     s += str(val_list) + "\n"

#     data_prompt = data_prompt + s + classification_prompt_kaggle_pii
        
#     conversation.append({"role": "user", "content": data_prompt})
#         file.write("\n" + response.choices[0].message.content.replace("\n", ""))

In [ ]:
# for i in range(openml_data.shape[1]):
#     conversation = [
#         {"role": "system", "content": initial_prompt_kaggle_pii},
#         {"role": "user", "content": example_prompt_kaggle_pii},
#         {"role": "assistant", "content": example_answer_kaggle_pii}
#     ]
    
#     with open(f"../datasets/openml_datasets/{openml_dataset.iloc[i,0]}/metadata.json", "r") as f:
#         metadata = json.load(f)
#     data_prompt = "Classify the following column with careful consideration of the dataset's description:\n" + str(metadata) + "\n"
    
#     s = "\n Column of the dataset to classify: '" + openml_data.columns[i] + "': "
#     val_list = openml_data.iloc[:, i].value_counts().index.tolist()[:10]     #value_counts sorts the values in descending order
#     s += str(val_list) + "\n"

#     data_prompt = data_prompt + s + classification_prompt_kaggle_pii
        
#     conversation.append({"role": "user", "content": data_prompt})
    
#     response = openai.chat.completions.create(
#         model="gpt-4o",
#         messages=conversation,
#         seed=42
#     )
    
#     with open("gpt_predictions/openml_results_pii.txt", "a") as file:
#         file.write("\n" + response.choices[0].message.content.replace("\n", ""))

In [ ]:
# for i in range(openml_2_data.shape[1]):
#     conversation = [
#         {"role": "system", "content": initial_prompt_kaggle_pii},
#         {"role": "user", "content": example_prompt_kaggle_pii},
#         {"role": "assistant", "content": example_answer_kaggle_pii}
#     ]
    
#     with open(f"../datasets/openml_datasets_2/{openml_2_dataset.iloc[i,0]}/metadata.json", "r") as f:
#         metadata = json.load(f)
#     data_prompt = "Classify the following column with careful consideration of the dataset's description:\n" + str(metadata) + "\n"

#     s = "\n Column of the dataset to classify: '" + openml_2_data.columns[i] + "': "
#     val_list = openml_2_data.iloc[:, i].value_counts().index.tolist()[:10]     #value_counts sorts the values in descending order
#     s += str(val_list) + "\n"

#     data_prompt = data_prompt + s + classification_prompt_kaggle_pii
        
#     conversation.append({"role": "user", "content": data_prompt})
    
#     response = openai.chat.completions.create(
#         model="gpt-4o",
#         messages=conversation,
#         seed=42
#     )
    
#     with open("gpt_predictions/openml_2_results_pii.txt", "a") as file:
#         file.write("\n" + response.choices[0].message.content.replace("\n", ""))