In [2]:
import pandas as pd
import re

from langdetect import detect, DetectorFactory
from langdetect.lang_detect_exception import LangDetectException

In [3]:
dessi_train_labels = pd.read_csv("DeSSI_v2/train_labels.csv")
dessi_train = pd.read_csv("DeSSI_v2/train.csv")

dessi_dev_labels = pd.read_csv("DeSSI_v2/dev_labels.csv")
dessi_dev = pd.read_csv("DeSSI_v2/dev.csv")

dessi_test_labels = pd.read_csv("DeSSI_v2/test_labels.csv")
dessi_test = pd.read_csv("DeSSI_v2/test.csv")

dessi_all = pd.concat([dessi_train, dessi_dev, dessi_test], axis=1)
dataset_split = ["train"] * dessi_train.shape[1] + ["validation"] * dessi_dev.shape[1] + ["test"] * dessi_test.shape[1]
dataset_split_df = pd.DataFrame(dataset_split).T
dataset_split_df.columns = dessi_all.columns
dessi_all = pd.concat([dessi_all, dataset_split_df]).reset_index(drop=True)

dessi_all_labels = pd.concat([dessi_train_labels, dessi_dev_labels, dessi_test_labels], axis=0).reset_index(drop=True)
dataset_split_df = pd.DataFrame(dataset_split)
dataset_split_df.columns = ["split_type"]
dessi_all_labels = pd.concat([dessi_all_labels, dataset_split_df], axis=1).reset_index(drop=True)

C:\Users\Luca\AppData\Local\Temp\ipykernel_1456\3396044622.py:2: DtypeWarning: Columns (62,107,161,241,255,324,449,503,686,720,807,812,889,934,1073,1113,1133,1154,1158,1242,1317,1333,1394,1408,1470,1553,1577,1674,1729,1762,1872,1913,1940,2045,2131,2139,2209,2288,2404,2436,2601,2627,2663,2779,2841,2960,2994,3061,3063,3080,3129,3136,3250,3319,3439,3464,3499,3520,3596,3637,3649,3748,3778,3787,3808,3902,3907,3917,3951,4009,4034,4037,4069,4129,4210,4218,4252,4325,4359,4386,4479,4646,4649,4652,4710,4936,4939,5013,5065,5069,5348,5352,5356,5399,5476,5702,5736,5889,5962,6072,6094,6107,6140,6159,6337,6360,6383,6407,6415,6423,6507,6555,6567,6590,6593,6689,6809,6815,6920,6995,7042,7127,7163,7229,7295,7301,7319,7321,7354,7399,7403,7465,7474,7593,7594,7694,7719,7798,7872,7979,8179,8298,8308,8473,8542,8565,8568,8570,8579,8633,8662,8707,8835,8846,8859,8899,8933,9024,9084,9126,9170,9184,9198,9251,9329,9412,9505,9588,9592,9610,9652,9803,9818,9907,9908,9952,9975,10073,10099,10136,10161,10359,10369,10407,10427,10515,10589,10694,10748,10778,10787,10830,10839,10898,11026,11068,11201,11265,11326,11364,11372,11434,11475,11532,11559,11592,11618,11629,11649,11732,11770,11828,11886,11944,12014,12161,12240,12287,12385,12438,12508,12624,12673,12741,12843,12844,12897,12938,12977,13081,13099,13177,13195,13335,13373,13416,13437,13523,13621,13622,13671,13730,13746,13785,13914,14012,14048,14073,14126,14136,14140,14178,14204,14332,14507,14519,14525,14595,14614,14821,14828,14862,14920,14922,14948,15136,15151,15202,15250,15390,15401,15408,15442,15518,15640,15717,15781,15791,15811,15833,15858,15997,16055,16203,16211,16253,16254,16259,16277,16346,16418,16459,16517,16571,16644,16652,16731,16757,16769,16807,16845,16874,16880,16937,16993,17058,17116,17152,17256,17273,17280,17327,17362,17390,17472,17548,17602,17665,17678,17822,17882,17970,18032,18072,18096,18188,18245,18270,18351,18365,18428,18451,18455,18517,18529,18682,18721,18732,18738,18745) have mixed types. Specify dtype option on import or set low_memory=False.
  dessi_train = pd.read_csv("DeSSI_v2/train.csv")

# Why DeSSI is not suitable for binary classification of personal data

1. The number of false labeled columns can be higher than expected
2. Dessi contains multiple columns which are labeled as other data, but contain personal-related Information (password, married, salary ...). To use the data all columns have to be manually labeled as personal or non-personal which will take up to much time for this project. It can not be clearly differed into personal data and non-personal data by the labels DeSSI provides

In [4]:
cols = []
labs = dessi_all_labels.T
labs.columns = dessi_all.columns
dessi_all = pd.concat([dessi_all, labs])
for c in dessi_all.columns:
    if c in ["married", "job", "salary", "password", "benefithealthinsurance"]:
        cols.append(c)
dessi_all[cols].iloc[[0,1,2,3,4,101], ::3]

,benefithealthinsurance,married,salary,password,benefithealthinsurance,salary,married,password,married,password,salary,benefithealthinsurance
0,no,Y,703535.21,TCC^WMu&afGU1F878m65nX6VB,no,703535.21,Y,TCC^WMu&afGU1F878m65nX6VB,Y,TCC^WMu&afGU1F878m65nX6VB,703535.21,no
1,yes,N,870468.74,AA*Tp1Hj+hbD!TVEPHe7B&8fh,yes,870468.74,N,AA*Tp1Hj+hbD!TVEPHe7B&8fh,N,AA*Tp1Hj+hbD!TVEPHe7B&8fh,870468.74,yes
2,yes,Y,829769.66,)P#Y8dXZVSh82vO$SzOx9MYe6,yes,829769.66,Y,)P#Y8dXZVSh82vO$SzOx9MYe6,Y,)P#Y8dXZVSh82vO$SzOx9MYe6,829769.66,yes
3,no,Y,665720.71,inLP8E@IkF084hdOjXebUCfp*,no,665720.71,Y,inLP8E@IkF084hdOjXebUCfp*,Y,inLP8E@IkF084hdOjXebUCfp*,665720.71,no
4,no,Y,953597.81,)g7tnIhvOJ+fvoq14^mmDD6kP,no,953597.81,Y,)g7tnIhvOJ+fvoq14^mmDD6kP,Y,)g7tnIhvOJ+fvoq14^mmDD6kP,953597.81,no
label,Other_data,Other_data,Other_data,Other_data,Other_data,Other_data,Other_data,Other_data,Other_data,Other_data,Other_data,Other_data

# Further investigations without relevant results

In [5]:
train = pd.read_csv("DeSSI_v2/train.csv")
dev = pd.read_csv("DeSSI_v2/dev.csv")
test = pd.read_csv("DeSSI_v2/test.csv")
train_labels = pd.read_csv("DeSSI_v2/train_labels.csv")
dev_labels = pd.read_csv("DeSSI_v2/dev_labels.csv")
test_labels = pd.read_csv("DeSSI_v2/test_labels.csv")

C:\Users\Luca\AppData\Local\Temp\ipykernel_1456\1766577438.py:1: DtypeWarning: Columns (62,107,161,241,255,324,449,503,686,720,807,812,889,934,1073,1113,1133,1154,1158,1242,1317,1333,1394,1408,1470,1553,1577,1674,1729,1762,1872,1913,1940,2045,2131,2139,2209,2288,2404,2436,2601,2627,2663,2779,2841,2960,2994,3061,3063,3080,3129,3136,3250,3319,3439,3464,3499,3520,3596,3637,3649,3748,3778,3787,3808,3902,3907,3917,3951,4009,4034,4037,4069,4129,4210,4218,4252,4325,4359,4386,4479,4646,4649,4652,4710,4936,4939,5013,5065,5069,5348,5352,5356,5399,5476,5702,5736,5889,5962,6072,6094,6107,6140,6159,6337,6360,6383,6407,6415,6423,6507,6555,6567,6590,6593,6689,6809,6815,6920,6995,7042,7127,7163,7229,7295,7301,7319,7321,7354,7399,7403,7465,7474,7593,7594,7694,7719,7798,7872,7979,8179,8298,8308,8473,8542,8565,8568,8570,8579,8633,8662,8707,8835,8846,8859,8899,8933,9024,9084,9126,9170,9184,9198,9251,9329,9412,9505,9588,9592,9610,9652,9803,9818,9907,9908,9952,9975,10073,10099,10136,10161,10359,10369,10407,10427,10515,10589,10694,10748,10778,10787,10830,10839,10898,11026,11068,11201,11265,11326,11364,11372,11434,11475,11532,11559,11592,11618,11629,11649,11732,11770,11828,11886,11944,12014,12161,12240,12287,12385,12438,12508,12624,12673,12741,12843,12844,12897,12938,12977,13081,13099,13177,13195,13335,13373,13416,13437,13523,13621,13622,13671,13730,13746,13785,13914,14012,14048,14073,14126,14136,14140,14178,14204,14332,14507,14519,14525,14595,14614,14821,14828,14862,14920,14922,14948,15136,15151,15202,15250,15390,15401,15408,15442,15518,15640,15717,15781,15791,15811,15833,15858,15997,16055,16203,16211,16253,16254,16259,16277,16346,16418,16459,16517,16571,16644,16652,16731,16757,16769,16807,16845,16874,16880,16937,16993,17058,17116,17152,17256,17273,17280,17327,17362,17390,17472,17548,17602,17665,17678,17822,17882,17970,18032,18072,18096,18188,18245,18270,18351,18365,18428,18451,18455,18517,18529,18682,18721,18732,18738,18745) have mixed types. Specify dtype option on import or set low_memory=False.
  train = pd.read_csv("DeSSI_v2/train.csv")

In [6]:
double_appearences = []
for c in test.columns:
    if c in train.columns:
        double_appearences.append(c)
len(double_appearences)

4116

In [7]:
for i in range(len(double_appearences)):
    if train[double_appearences[i]].value_counts().equals(test[double_appearences[i]].value_counts()):
        print(double_appearences[i])

married.6
married.9
datum_polnenje.1
activeto.3

In [8]:
train["married.6"]

0     1
1     1
2     0
3     1
4     1
     ..
95    1
96    1
97    0
98    1
99    1
Name: married.6, Length: 100, dtype: int64

In [9]:
test["married.6"]

0     1
1     1
2     0
3     1
4     0
     ..
95    0
96    0
97    0
98    0
99    1
Name: married.6, Length: 100, dtype: int64

Only four columns contain the same values between train and test set

In [10]:
count=0
label = []
for e, c in enumerate(train.columns):
    if "married" in c:
        count += 1  
        label.append(train_labels.iloc[e, :].values[0])
print(count)
print(pd.Series(label).value_counts())

74
Other_data    74
dtype: int64

In [11]:
count=0
label = []
for e, c in enumerate(test.columns):
    if "married" in c:
        count += 1  
        label.append(test_labels.iloc[e, :].values[0])
print(count)
print(pd.Series(label).value_counts())

35
Other_data    35
dtype: int64

Many columns have similar names, it could be that the model overfits based on the column names as similar column names have the same class  
The marriage status is a sensitive information but here only labeled as other data

Check how CASSED predicted wrong columns on uncleaned dataset (how many were correct even if the column was wrong?)

In [13]:
predictions = pd.read_csv("../../CASSED/old_predictions/CASSED_dessi/test.tsv",sep="\t")

dessi_labels_cleaned = pd.read_csv("dessi_cleaned/all_labels_cleaned.csv")
wrong_columns = pd.read_csv("dessi_cleaned/wrong_columns.csv")["0"]

def extract_prediction(i):
    list_extractor = re.compile(r"(\w+)\s*\(\d+(\.\d+)?\)")
    matches = list_extractor.findall(predictions.iloc[i, :].values[0])
    return [match[0] for match in matches]

def convert_predictions(predictions):
    column_names = []
    gold_list = []
    pred_list = []
    mismatch = []
    column_names.append(predictions.columns[0].split(". ")[0].strip())

    height = predictions.shape[0]

    for i in range(height):
        if 'Gold' in predictions.iloc[i, :].values[0][:10]:
            gold_list.append(extract_prediction(i))
        elif 'Pred' in predictions.iloc[i, :].values[0][:10]:
            pred_list.append(extract_prediction(i))
            if i == height-1:
                mismatch.append("No Mismatch")
                break
            if 'MISMATCH' in predictions.iloc[i+1, :].values[0][:20]:
                mismatch.append("Mismatch")
            else:
                mismatch.append("No Mismatch")
        elif 'MISMATCH' not in predictions.iloc[i, :].values[0][:20]:
            column_names.append(predictions.iloc[i, :].values[0].split('. ')[0].strip())
            


    df = pd.DataFrame({
        'Name': column_names,
        'Gold': gold_list,
        'Pred': pred_list,
        'Mismatch': mismatch
    })
    return df
df = convert_predictions(predictions)

In [14]:
wrong_columns_test = [int(a - (18816+6272)) for a in wrong_columns if a > 18816+6272]

In [15]:
df.iloc[wrong_columns_test,:].Mismatch.value_counts()

No Mismatch    153
Mismatch         9
Name: Mismatch, dtype: int64

Only 9 of the 162 wrong labeled columns were predicted wrong by CASSED

# Detect Languages

Try to detect the languages in dessi dataset

In [16]:
dessi = pd.concat([train, dev, test], axis=1)
dessi.shape

(100, 31360)

In [17]:
dessi_labels = pd.concat([train_labels, dev_labels, test_labels],axis=0)
dessi_labels

                    label
0                    Date
1                  Person
2             Geolocation
3     Organization,Person
4            Phone_number
...                   ...
6267          Geolocation
6268           Other_data
6269                  NIN
6270  Geolocation,Address
6271                 Date

[31360 rows x 1 columns]

In [18]:
dessi_transposed = dessi.T

dessi_transposed.insert(0, 'labels', dessi_labels.values.flatten())

dessi_with_labels = dessi_transposed.T

pd.set_option('display.max_columns', 100)
dessi_with_labels.head()

,axrlqygbssxu,firstname,lon,firm,fxvspjlbgrhm,jqfyjomipilf,location_id,phone_number,eosogjttsvtt,org_id,state,aevtkbjhhryq,customer_iban,departmentsid,switching_center_lat,relationship_status,phone_no,aoprdggmbtuz,wage,customer_email,country,family_email,countyname,vcqcujsmuukw,ywpjaeadqwwj,active,rrubbcpjrqht,kgazxjkrlqja,benefitdaycare,iinelubpyelh,gbhwunppuetx,lat,province,kdxrpomztopy,neighbourhood,jtklraxdukre,nkoyzuojoair,phone_ext,ssn,dqshzbqqvqdc,person_surname,lng,ukofatwbaafw,ijfsukxdjfhd,flikvuanjlbz,bndecuspucsy,datum_izvestaja,last_name,road_name,kozakymqwsyw,...,active.21,assisstantname.6,uebllxvjsdvb,city_name.1,cdomdvmaxlgy,mobilephonenumber.36,usmvdyjshjrb,sfiqeshcawas,id.14,personal_identification_number.10,ip_address.1,personal_code.6,active.22,udfybvtznvsn,first_name.28,ndvdzztxgkar,spouse.20,ceuisjeakbya,village.11,octslrhsuimb,staff_id.15,call_end_datetime.11,accountid.22,lastlogindateb.8,ktgjrkveeoeb,bwiugntwxfbp,npygcvxzyvwz,lkqncdpronyh,residence.2,city.24,cell_phone_number.20,vnpsaqxvggty,customer_id.13,monthly_earnings.17,eozjllawhlgb,spouse.21,accuracy_in_meters.15,customer_name.29,r identity,phone_ext.23,itittmxlzqjr,dadtysfqjbcs,zvneublxkuwy,personal_numerical_code.12,customer/contact,latdeg.12,genderid.7,ztyhgaddzlun,geo_latitude.18,date_account_closed.6
labels,Date,Person,Geolocation,"Organization,Person",Phone_number,"Address,Geolocation",Address,Phone_number,Person,Organization,GPE,Other_data,Other_data,Other_data,Geolocation,Other_data,Phone_number,Date,Other_data,Email,"Address,Geolocation",Phone_number,GPE,NIN,GPE,Other_data,Phone_number,Person,Other_data,Other_data,Other_data,Geolocation,GPE,NIN,Address,Other_data,Date,Phone_number,NIN,Other_data,Person,Geolocation,"Date,NIN",Phone_number,SWIFT/BIC,Phone_number,Date,Person,Address,Other_data,...,Other_data,Person,Organization,GPE,Other_data,Phone_number,Phone_number,Email,Organization,"NIN,Email",Other_data,"NIN,Person",Other_data,"Address,Email",Person,Email,Other_data,Address,Address,NIN,Other_data,Date,Other_data,Date,Date,Address,Date,Other_data,GPE,Address,Phone_number,GPE,Other_data,Other_data,Person,Other_data,Other_data,Person,Religion,Phone_number,Phone_number,"Address,Geolocation",Geolocation,NIN,"Person,Phone_number",Geolocation,Other_data,NIN,"Geolocation,Address",Date
0,4/12,Duča Grabowsky,39.4387199;-74.5492412,Marilyn,+55 (031) 4280-4254,-74.8062027,"40 Occom Ridge, Hanover, New Hampshire 03755, us",(071) 1428-1198,Rahman,Az Pneumatica,hungary,20603,21-0688878,35062,27.996344,Unknown,31 0020-5087,20090626,987881.94,danica-dereta3@xnet.hr,27.7753042,152691757/5,Jastrzębie-Zdrój,280 344 565,panama,1,0209981558,Salley,n,4238,Male,28.504554,Sondrio,464-24-9836,Costa del Turchese,48236.86,19700131,(470)4960902,50264871399,980696.7,Monica Shae Tanner,"39.3520555, -16.36384",045-05-6709,(051) 2074-9163,KPBGGBWT42Z,13840749598,19951202,Georgi,Seabrook Road,LOOK & FEEL,...,y,Ivy,sandton taxi cabs (pty) ltd,Hamburg,811021.61,+92 (165) 75254-48,18880977774,g-patel@becker-edwards.com,Heritage Production Services,emma-mehta@white-mcgrath.net,72.199.94.156,Ahmir Adriel Najera Masterson,n,m.wilson144@morrison-meyer.xyz,Anabelle Beckam Fredericks Ruth,azirovcic@leskovic.biz,yes,Westfield Avenue,Truro,111-72-1709,4733,12-1973,38577,20070804,30/04,"62 Möltner Straße - Via Meltina, Mölten - Melt...","January 5th, 2007",40546,Casnate con Bernate,Manchester,097 677-48-50,lithuania,7290,980260.86,Ransom Liam Worthy Starling,y,599088.57,Bryce Donaldson,Evangelical,31 4374 3014,334-314-6849x206,28.4060052,-16.76674,ZZ 55 65 56 T,Mae/ +44(0)1514960632,28.0778679; -74.6895013,1,ZZ 827141 T,"Strada Frena, Marèo - Enneberg - Marebbe, Tren...",05/1976
1,4/14,Lyubomir Vishinsky,39.4536535;-74.8164334,Broad run veterinary service,+23 (0511) 2695,"Grand Avenue rd. on number 84 in Manchester, N...","Via Milano - Mailandstraße, Bolzano - Bozen, I...",2576223255,Meyer,Visby,romania,20216,90-4343105,34675,-74.61295,Separated,+55 93 99082 4085,19800923,869968.72,iriskuckovecki1@zagreb.hr,"Marsvägen, Kalmar, Sverige",+45 (65) 90179-6903,Dukes County,283 560 449,"WILLIS, TX",1,721 0879103,Parker Jr,y,3851,Female,28.439854,Mantova,229-54-2084,Concord Heights,508317.6,20130421,2316208510,68739540210,995486.77,Ibrahim Forster Jacobs,"28.9255692, -74.5684209",Apr 16,+97 (156) 935900,GMDFGB1XPKT,+51 61 8358 3615,19991003,Lečo,Lindberg Street,1 apartmt,...,n,Gutierrez,agroproyectos sc,Herne,652852.18,5329626342,(342)392-8081,j-coleman53@bradshaw-hall.info,dst consulting engineers inc.,86179025430,112.200.67.206,94387065210,1,"Jessica Drive, Merrimack, New Hampshire",Bradyn Cody,emmettevans89@hotmail.com,yes,Twenty Acre Wood,Milan,477-19-4481,4346,11-1990,38190,19710623,18/05,"Owl Street, Campton, United States of America","October 3rd, 2019",40159,"Alhandra, São João dos Montes e Calhandriz",Helsingborg,6120496814,azerbaijan,6903,382303.22,Gordon Mia Durand,y,728370.54,Kashton Bennett Soriano,Smith–Rigdon movement,06415160231,"9652281017, 5500582145","Christie Road, Stratford, New Hampshire",39.441366,ZZ 481385 T,Kenlee/ +44(0)113 496 0895,39.1035643; -17.780067,-1,ZZ 709233 T,27.84977,04/2002
2,7/07,Bozan Czajkowski,28.3839587;-17.2639769,Keandre Garvey,(251) 724-6950 x782,39.2429523,"Creston Street 31, Boston 02121, Massachusetts",1415554659,Memphis,Realty Executives Local Group Inc. Brokerage,"BRASELTON, GA",20374,46-0856023,34833,-74.766877,Unknown,+233554323182,19701118,724014.94,l-j817@burton.info,Warren Avenue rd. on number 235 in Ingrams Cor...,044 209 709,powiat brzozowski,022 534 739,Uganda,0,+447700900238,Susie,n,4009,Female,-74.618583,Como,442-71-7382,Wipperfürth,113691.93,19750811,1602520745,49813706255,186481.69,Ramona Ragnar Moua,"39.1601016, -16.4731214",Mar 1,5622274934,QGUJGBTSQEO,+55 90 96141 4013,19910128,Sinisa,Monroe Street,Labor Law,...,n,Tomislav Igor Tepić Stričević,Unimar design,Jefferson Township,581702.8,+55 (071) 3375-7834,0279340988,pm9944@gonzalez.info,Kidz Central Daycare,21370465988,81.59.212.101,Carissa Devries,1,ewanmarquez@hotmail.com,Casper Goetz,tf@bebic.biz,yes,Kellerstraße,Premana,091-76-3908,4504,9-1987,38348,19850917,12/05,"Via Masi rd. on number 204 in Ferrara, Emilia-...","August 2nd, 1977",40317,Växjö,Castiraga Vidardo,+233567504076,guatemala,7061,879967.34,Willard Mcduffie Dunham,n,230192.0,Buck Stock Ayers,Shintoist,+233579234929,1350292495,28.1273995,-74.609143,ZZ 073649 T,Roisin Harlow Archer/ 01 883 1767,39.2429523; -74.7195401,-1,ZZ641479T,28.1044789,05/2013
3,4/16,Andon Konstantinov,39.1160307;-74.7062772,Manuel,+55 (06) 97926-9658,"206 Wildwood Drive, Pittsfield, New Hampshire ...","Via Eupilio 45, Bosisio Parini 23842, Lombardia",8016568546,Roberta,Jmm Event Services,ghana,20318,06-0660392,34777,27.77068,Unknown,+02 21 6336-0954,19710413,111380.29,o.d248@yahoo.com,"Carol Drive rd. on number 97 in East Haven, Co...",396 09 98,Chittenden County,862 862 554,"EAST HAMPTON, CT",0,(233)4960052,Leanna,n,3953,Female,28.032709,Como,259-65-3097,Blue Hills,143095.8,19951215,(031) 2347 1842,59487306214,626988.4,Riggs,"28.2569627, -74.7698174",Nov 88,5621941141,MFRLGBJB836,13605512688,19840226,Mutimir,Via Eros Bolognesi,Street of schooling/studies/preschool education,...,y,Isaac,Litnet,Buffalo,503902.5,811.244.2275,18872737287,rr@hotmail.com,N promotions,40163982756,49.71.45.4,Santos,n,anamarija-maric@yahoo.hr,Marko,ah6@zivkovic.net,no,Tyyppälänjärventie,Piermont,545-15-8121,4448,3-2011,38292,19910622,25/09,Briarcliff Drive rd. on number 830 in Toms Riv...,"October 26th, 1980",40261,Boston,Warwick,090-3-3631988,md,7005,814403.2,Crupi,n,753270.92,Asiel Miles Maas,Shakta,31 2067 9351,7126056291,"Beale Way, Barnstable, Massachusetts",-15.394946,ZZ 399581 T,Melody Weronika Bainbridge Nicholas/ 0121 4960156,39.376803; -16.7232981,-1,ZZ 554302 T,-15.443331,01/1988

In [19]:
dessi_labels.value_counts()

label
Other_data                     6561
Phone_number                   3547
Address                        2966
Date                           2319
Person                         2234
GPE                            2172
NIN                            1706
Geolocation                    1635
Organization                   1607
Email                          1533
NIN,Date                        241
SWIFT/BIC                       240
Organization,Person             240
NIN,Person                      230
Phone_number,NIN                226
Person,Organization             224
Date,NIN                        221
Person,Email                    220
Person,NIN                      218
Geolocation,Address             218
Email,Phone_number              217
NIN,Phone_number                217
Email,Address                   217
IBAN                            213
NIN,Email                       210
Email,Person                    209
Address,Geolocation             205
Email,NIN                       200
Phone_number,Email              199
Address,Email                   186
CCN                             109
Passport                        108
Gender                           94
Religion                         93
Sexuality                        92
Nationality                      91
ID_Card                          68
Race                             58
Address,Phone_number              4
Address,Person,Phone_number       3
Organization,Phone_number         3
Person,Phone_number               2
Organization,Address              2
Person,Date                       1
Address,Person                    1
dtype: int64

In [20]:
DetectorFactory.seed = 0

df = pd.DataFrame(dessi)

# Function to detect language of a text
def detect_language(text):
    try:
        return detect(text)
    except LangDetectException:
        return "unknown"

# Apply the function to the DataFrame
languages = set()
for i in range(len(df.columns)):
    if df.iloc[:,i].dtype == 'object':
        print(i)
        print(set(df.iloc[:,i].apply(detect_language)))
        languages.update(set(df.iloc[:,i].apply(detect_language)))

# Display the results
print(df)

0
{'unknown'}
1
{'de', 'so', 'it', 'et', 'hu', 'tl', 'fi', 'sk', 'sv', 'id', 'sq', 'pl', 'hr', 'lt', 'en', 'sl', 'ro', 'no', 'af', 'pt', 'es', 'tr'}
2
{'unknown'}
3
{'de', 'so', 'fr', 'ca', 'it', 'tl', 'fi', 'sk', 'sv', 'id', 'sw', 'nl', 'hr', 'lt', 'en', 'da', 'sl', 'cs', 'ro', 'no', 'cy', 'af', 'pt', 'es', 'tr'}
4
{'so', 'unknown'}
5
{'de', 'unknown', 'pl', 'fi', 'fr', 'ca', 'it', 'en', 'nl'}
6
{'cs', 'de', 'no', 'fr', 'pl', 'it', 'ca', 'lt', 'sv', 'af', 'en', 'es', 'da', 'nl'}
7
{'so', 'ca', 'unknown'}
8
{'de', 'so', 'fr', 'it', 'ca', 'et', 'tl', 'fi', 'sk', 'sv', 'id', 'sw', 'nl', 'pl', 'hr', 'lt', 'en', 'da', 'ro', 'no', 'lv', 'cy', 'af', 'pt', 'es', 'tr'}
9
{'de', 'so', 'fr', 'ca', 'it', 'et', 'hu', 'tl', 'fi', 'id', 'nl', 'hr', 'en', 'da', 'cs', 'ro', 'lv', 'cy', 'af', 'pt', 'es'}
10
{'de', 'so', 'ca', 'it', 'hu', 'vi', 'tl', 'fi', 'sv', 'id', 'sw', 'nl', 'pl', 'hr', 'lt', 'en', 'sl', 'cs', 'ro', 'no', 'lv', 'cy', 'pt', 'tr'}
12
{'unknown'}
15
{'id', 'en', 'it', 'pl'}

KeyboardInterrupt:

Forced a keyboard interrupt as in columns like name or email it detects many languages. It is hard to filter these columns automatically.