In [1]:
import numpy as np
import pandas as pd
import random
import string
from datetime import datetime, timedelta

In [2]:
data = pd.read_excel("summary_tpsd2_variables.xlsx")
adjusted_data = data.copy()

Get an impression of the data by looking at all features  
To have a quick glance on all important columns of a features output features with the same skim type toegther

In [3]:
pd.set_option('display.max_rows', 500)
data.loc[data["skim_type"].isin(["logical", "factor", "POSIXct"])].iloc[:, [0, 1, 4,5,6,7,13,14,15,16,17]]

,skim_type,skim_variable,POSIXct.min,POSIXct.max,POSIXct.median,POSIXct.n_unique,factor.ordered,factor.n_unique,factor.top_counts,logical.mean,logical.count
0,POSIXct,start_date,2010-01-01 01:15:00,2020-12-30 14:00:00,2015-09-03 10:23:00,111948.0,NaN,NaN,NaN,NaN,NaN
1,POSIXct,end_date,2010-01-03 10:00:00,2020-12-31 15:00:00,2015-09-12 08:22:30,69251.0,NaN,NaN,NaN,NaN,NaN
101,factor,discharge,NaT,NaT,NaT,NaN,0.0,8.0,"hom: 113207, dis: 3300, tra: 2983, dea: 1608",NaN,NaN
102,factor,gender,NaT,NaT,NaT,NaN,0.0,2.0,"W: 66098, M: 56338",NaN,NaN
103,factor,dementia,NaT,NaT,NaT,NaN,0.0,2.0,"Fal: 121761, Tru: 675",NaN,NaN
104,logical,delir,NaT,NaT,NaT,NaN,NaN,NaN,NaN,0.021603,"FAL: 119791, TRU: 2645"
105,logical,neuro_psy,NaT,NaT,NaT,NaN,NaN,NaN,NaN,0.071319,"FAL: 113704, TRU: 8732"
106,logical,any_medication,NaT,NaT,NaT,NaN,NaN,NaN,NaN,0.062441,"FAL: 114791, TRU: 7645"
107,logical,any_grouped_medication,NaT,NaT,NaT,NaN,NaN,NaN,NaN,0.062441,"FAL: 114791, TRU: 7645"
108,logical,any_acute_medication,NaT,NaT,NaT,NaN,NaN,NaN,NaN,0.052003,"FAL: 116069, TRU: 6367"

In [4]:
data.loc[data["skim_type"] == "character"].iloc[:, [0, 1, 8,9,10,11,12,13]]

,skim_type,skim_variable,character.min,character.max,character.empty,character.n_unique,character.whitespace,factor.ordered
2,character,id,36.0,36.0,0.0,122436.0,0.0,NaN
3,character,encounter_id,20.0,20.0,0.0,122436.0,0.0,NaN
4,character,patient_id,16.0,16.0,0.0,88166.0,0.0,NaN
5,character,admission_type,3.0,3.0,0.0,1.0,0.0,NaN
6,character,admission_reason,21.0,28.0,0.0,8.0,0.0,NaN
7,character,last_encounter,4.0,5.0,0.0,2.0,0.0,NaN
8,character,birth_date,19.0,19.0,0.0,96.0,0.0,NaN
9,character,chf,4.0,5.0,0.0,2.0,0.0,NaN
10,character,carit,4.0,5.0,0.0,2.0,0.0,NaN
11,character,valv,4.0,5.0,0.0,2.0,0.0,NaN
12,character,pcd,4.0,5.0,0.0,2.0,0.0,NaN
13,character,pvd,4.0,5.0,0.0,2.0,0.0,NaN
14,character,hypunc,4.0,5.0,0.0,2.0,0.0,NaN
15,character,hypc,4.0,5.0,0.0,2.0,0.0,NaN
16,character,para,4.0,5.0,0.0,2.0,0.0,NaN
17,character,ond,4.0,5.0,0.0,2.0,0.0,NaN
18,character,cpd,4.0,5.0,0.0,2.0,0.0,NaN
19,character,diabunc,5.0,5.0,0.0,1.0,0.0,NaN
20,character,diabc,5.0,5.0,0.0,1.0,0.0,NaN
21,character,hypothy,4.0,5.0,0.0,2.0,0.0,NaN
22,character,rf,4.0,5.0,0.0,2.0,0.0,NaN
23,character,ld,4.0,5.0,0.0,2.0,0.0,NaN
24,character,pud,5.0,5.0,0.0,1.0,0.0,NaN
25,character,aids,4.0,5.0,0.0,2.0,0.0,NaN
26,character,lymph,4.0,5.0,0.0,2.0,0.0,NaN
27,character,metacanc,4.0,5.0,0.0,2.0,0.0,NaN
28,character,solidtum,4.0,5.0,0.0,2.0,0.0,NaN
29,character,rheumd,4.0,5.0,0.0,2.0,0.0,NaN
30,character,coag,4.0,5.0,0.0,2.0,0.0,NaN
31,character,obes,4.0,5.0,0.0,2.0,0.0,NaN
32,character,wloss,4.0,5.0,0.0,2.0,0.0,NaN
33,character,fed,4.0,5.0,0.0,2.0,0.0,NaN
34,character,blane,5.0,5.0,0.0,1.0,0.0,NaN
35,character,dane,4.0,5.0,0.0,2.0,0.0,NaN
36,character,alcohol,4.0,5.0,0.0,2.0,0.0,NaN
37,character,drug,4.0,5.0,0.0,2.0,0.0,NaN
38,character,psycho,4.0,5.0,0.0,2.0,0.0,NaN
39,character,depre,4.0,5.0,0.0,2.0,0.0,NaN
40,character,delir_error_code,4.0,5.0,0.0,2.0,0.0,NaN
41,character,delir_error_code_R41.0,4.0,5.0,0.0,2.0,0.0,NaN
42,character,delir_error_code_R41.1,4.0,5.0,0.0,2.0,0.0,NaN
43,character,delir_error_code_R41.2,4.0,5.0,0.0,2.0,0.0,NaN
44,character,delir_error_code_R41.3,4.0,5.0,0.0,2.0,0.0,NaN
45,character,delir_error_code_R41.8,4.0,5.0,0.0,2.0,0.0,NaN
46,character,delir_error_code_R44.0,4.0,5.0,0.0,2.0,0.0,NaN
47,character,delir_error_code_R44.1,4.0,5.0,0.0,2.0,0.0,NaN
48,character,delir_error_code_R44.2,4.0,5.0,0.0,2.0,0.0,NaN
49,character,delir_error_code_R44.3,4.0,5.0,0.0,2.0,0.0,NaN
50,character,delir_error_code_R45.1,4.0,5.0,0.0,2.0,0.0,NaN
51,character,delir_error_code_R45.4,4.0,5.0,0.0,2.0,0.0,NaN
52,character,delir_error_code_R45.6,4.0,5.0,0.0,2.0,0.0,NaN
53,character,delir_error_code_R46.2,4.0,5.0,0.0,2.0,0.0,NaN
54,character,delir_error_code_R46.3,4.0,5.0,0.0,2.0,0.0,NaN
55,character,delir_error_code_R46.4,4.0,5.0,0.0,2.0,0.0,NaN
56,character,delir_error_code_R45.7,4.0,5.0,0.0,2.0,0.0,NaN
57,character,hemorhage_stroke,4.0,5.0,0.0,2.0,0.0,NaN
58,character,ischemic_stroke,4.0,5.0,0.0,2.0,0.0,NaN
59,character,first_operation_code,5.0,8.0,0.0,5636.0,0.0,NaN
60,character,major_surgery,4.0,31.0,0.0,18.0,0.0,NaN
61,character,who1_pain_therapy,4.0,5.0,0.0,2.0,0.0,NaN
62,character,who2_pain_therapy,4.0,5.0,0.0,2.0,0.0,NaN
63,character,who3_pain_therapy,4.0,5.0,0.0,2.0,0.0,NaN
64,character,clonidin_clinic,0.0,6.0,121589.0,21.0,0.0,NaN
65,character,clonidin_department,0.0,3.0,121589.0,10.0,0.0,NaN
66,character,clonidin_first_administration_date,0.0,25.0,121589.0,843.0,0.0,NaN
67,character,dexmedetomidin_clinic,0.0,6.0,122298.0,7.0,0.0,NaN
68,character,dexmedetomidin_department,0.0,3.0,122298.0,5.0,0.0,NaN
69,character,dexmedetomidin_first_administration_date,0.0,25.0,122298.0,139.0,0.0,NaN
70,character,diazepam_clinic,0.0,6.0,121520.0,25.0,0.0,NaN
71,character,diazepam_department,0.0,3.0,121520.0,12.0,0.0,NaN
72,character,diazepam_first_administration_date,0.0,25.0,121520.0,912.0,0.0,NaN
73,character,haloperidol_clinic,0.0,6.0,120811.0,22.0,0.0,NaN
74,character,haloperidol_department,0.0,3.0,120811.0,9.0,0.0,NaN
75,character,haloperidol_first_administration_date,0.0,25.0,120811.0,1604.0,0.0,NaN
76,character,lorazepam_clinic,0.0,6.0,119197.0,25.0,0.0,NaN
77,character,lorazepam_department,0.0,3.0,119197.0,11.0,0.0,NaN
78,character,lorazepam_first_administration_date,0.0,25.0,119197.0,3233.0,0.0,NaN
79,character,melperon_clinic,0.0,6.0,121269.0,22.0,0.0,NaN
80,character,melperon_department,0.0,3.0,121269.0,10.0,0.0,NaN
81,character,melperon_first_administration_date,0.0,25.0,121269.0,1084.0,0.0,NaN
82,character,midazolam_clinic,0.0,6.0,121867.0,21.0,0.0,NaN
83,character,midazolam_department,0.0,3.0,121867.0,10.0,0.0,NaN
84,character,midazolam_first_administration_date,0.0,25.0,121867.0,565.0,0.0,NaN
85,character,olanzapin_clinic,0.0,6.0,122189.0,18.0,0.0,NaN
86,character,olanzapin_department,0.0,3.0,122189.0,8.0,0.0,NaN
87,character,olanzapin_first_administration_date,0.0,25.0,122189.0,248.0,0.0,NaN
88,character,pipamperon_clinic,0.0,6.0,122267.0,19.0,0.0,NaN
89,character,pipamperon_department,0.0,3.0,122267.0,9.0,0.0,NaN
90,character,pipamperon_first_administration_date,0.0,25.0,122267.0,168.0,0.0,NaN
91,character,propofol_clinic,0.0,6.0,121826.0,17.0,0.0,NaN
92,character,propofol_department,0.0,3.0,121826.0,8.0,0.0,NaN
93,character,propofol_first_administration_date,0.0,25.0,121826.0,605.0,0.0,NaN
94,character,quetiapin_clinic,0.0,6.0,121534.0,18.0,0.0,NaN
95,character,quetiapin_department,0.0,3.0,121534.0,8.0,0.0,NaN
96,character,quetiapin_first_administration_date,0.0,25.0,121534.0,889.0,0.0,NaN
97,character,risperidon_clinic,0.0,6.0,122057.0,22.0,0.0,NaN
98,character,risperidon_department,0.0,3.0,122057.0,10.0,0.0,NaN
99,character,risperidon_first_administration_date,0.0,25.0,122057.0,378.0,0.0,NaN
100,character,new_delir_therapy,4.0,5.0,0.0,2.0,0.0,NaN

All character features with 1 or 2 unique attributes with minimum 4 characters and maximum 5 characters are likely boolean features (True/False)  
All features with more than 10.000 empty values can be imputed with NaN values, as they had in the original datasets almost only NaN values

In [5]:
data.loc[data["skim_type"] == "numeric"].iloc[:, [0, 1,18,19,20,21,22,23,24,25]]

,skim_type,skim_variable,numeric.mean,numeric.sd,numeric.p0,numeric.p25,numeric.p50,numeric.p75,numeric.p100,numeric.hist
109,numeric,reason_code,175.535888,135.536352,101.000000,101.000000,101.000000,201.000000,807.000000,▇▁▁▁▁
110,numeric,discharge_disposition,25.034214,18.786175,11.000000,19.000000,19.000000,19.000000,179.000000,▇▁▁▁▁
111,numeric,los,7.774290,10.029633,0.000000,3.000000,5.000000,9.000000,380.000000,▇▁▁▁▁
112,numeric,encounter_sequence,1.690067,1.462698,1.000000,1.000000,1.000000,2.000000,52.000000,▇▁▁▁▁
113,numeric,age_at_visit,52.881946,18.917783,18.000000,36.000000,54.000000,69.000000,107.000000,▆▆▇▅▁
114,numeric,eci_vw,3.451379,6.712049,-14.000000,0.000000,0.000000,4.000000,53.000000,▁▇▁▁▁
115,numeric,eci_swiss,4.443611,10.466000,-22.000000,0.000000,0.000000,9.000000,79.000000,▂▇▁▁▁
116,numeric,total_number_operations,2.905616,3.707745,1.000000,1.000000,2.000000,3.000000,103.000000,▇▁▁▁▁
117,numeric,total_opeartion_duration,333.479034,726.314298,0.000000,42.000000,113.000000,314.000000,21429.000000,▇▁▁▁▁
118,numeric,number_of_surgeries,2.905616,3.707745,1.000000,1.000000,2.000000,3.000000,103.000000,▇▁▁▁▁
119,numeric,major_surgery_duration,84.361593,85.698327,0.000000,28.000000,60.000000,112.000000,6480.000000,▇▁▁▁▁
120,numeric,polypharmacy,10.562223,10.900919,1.000000,4.000000,7.000000,13.000000,239.000000,▇▁▁▁▁
121,numeric,clonidin_first_administration_day,6.319953,10.573412,0.000000,1.000000,2.000000,8.000000,92.000000,▇▁▁▁▁
122,numeric,clonidin_num_acute_administrations,4.278630,8.695549,0.000000,0.000000,1.000000,4.000000,114.000000,▇▁▁▁▁
123,numeric,clonidin_num_administraion_days,4.675325,7.388231,1.000000,1.000000,2.000000,5.000000,67.000000,▇▁▁▁▁
124,numeric,clonidin_performed_year,2014.317591,2.761943,2010.000000,2012.000000,2014.000000,2016.000000,2020.000000,▇▆▅▃▂
125,numeric,clonidin_total_number_of_administrations,9.887839,16.467115,1.000000,1.000000,4.000000,11.000000,160.000000,▇▁▁▁▁
126,numeric,dexmedetomidin_first_administration_day,15.862319,21.968522,0.000000,3.000000,9.000000,16.000000,114.000000,▇▂▁▁▁
127,numeric,dexmedetomidin_num_acute_administrations,3.666667,7.212452,0.000000,1.000000,1.000000,2.000000,51.000000,▇▁▁▁▁
128,numeric,dexmedetomidin_num_administraion_days,1.478261,1.319242,1.000000,1.000000,1.000000,1.000000,11.000000,▇▁▁▁▁
129,numeric,dexmedetomidin_performed_year,2015.246377,2.496162,2011.000000,2014.000000,2016.000000,2017.000000,2020.000000,▃▁▇▃▂
130,numeric,dexmedetomidin_total_number_of_administrations,3.862319,7.400130,1.000000,1.000000,1.000000,2.000000,53.000000,▇▁▁▁▁
131,numeric,diazepam_first_administration_day,7.314410,14.349328,0.000000,1.000000,3.000000,7.000000,163.000000,▇▁▁▁▁
132,numeric,diazepam_num_acute_administrations,2.444323,4.337933,0.000000,1.000000,1.000000,2.000000,57.000000,▇▁▁▁▁
133,numeric,diazepam_num_administraion_days,2.862445,4.909973,1.000000,1.000000,1.000000,2.000000,57.000000,▇▁▁▁▁
134,numeric,diazepam_performed_year,2014.473799,2.732994,2010.000000,2012.000000,2014.000000,2017.000000,2020.000000,▇▇▆▅▂
135,numeric,diazepam_total_number_of_administrations,4.183406,8.441065,1.000000,1.000000,1.000000,3.000000,94.000000,▇▁▁▁▁
136,numeric,haloperidol_first_administration_day,9.924308,18.035093,0.000000,2.000000,4.000000,11.000000,336.000000,▇▁▁▁▁
137,numeric,haloperidol_num_acute_administrations,2.579077,5.059747,0.000000,1.000000,1.000000,3.000000,85.000000,▇▁▁▁▁
138,numeric,haloperidol_num_administraion_days,4.056000,4.919419,1.000000,1.000000,2.000000,5.000000,70.000000,▇▁▁▁▁
139,numeric,haloperidol_performed_year,2015.496000,2.916978,2010.000000,2013.000000,2016.000000,2018.000000,2020.000000,▇▆▇▇▇
140,numeric,haloperidol_total_number_of_administrations,8.057846,11.825719,1.000000,1.000000,4.000000,11.000000,190.000000,▇▁▁▁▁
141,numeric,lorazepam_first_administration_day,8.759185,13.615792,0.000000,1.000000,4.000000,11.000000,178.000000,▇▁▁▁▁
142,numeric,lorazepam_num_acute_administrations,3.234949,5.379375,0.000000,1.000000,1.000000,3.000000,75.000000,▇▁▁▁▁
143,numeric,lorazepam_num_administraion_days,3.235875,4.962982,1.000000,1.000000,1.000000,3.000000,55.000000,▇▁▁▁▁
144,numeric,lorazepam_performed_year,2014.983637,2.879725,2010.000000,2013.000000,2015.000000,2017.000000,2020.000000,▇▇▆▆▅
145,numeric,lorazepam_total_number_of_administrations,4.435628,8.461414,1.000000,1.000000,2.000000,4.000000,145.000000,▇▁▁▁▁
146,numeric,melperon_first_administration_day,8.922022,12.327572,0.000000,1.500000,5.000000,11.500000,133.000000,▇▁▁▁▁
147,numeric,melperon_num_acute_administrations,2.095116,4.285726,0.000000,0.000000,1.000000,2.000000,66.000000,▇▁▁▁▁
148,numeric,melperon_num_administraion_days,8.158526,10.247523,1.000000,2.000000,5.000000,10.000000,108.000000,▇▁▁▁▁
149,numeric,melperon_performed_year,2017.334190,2.046975,2010.000000,2016.000000,2017.000000,2019.000000,2020.000000,▁▁▆▇▇
150,numeric,melperon_total_number_of_administrations,9.592117,13.282452,1.000000,2.000000,5.000000,11.000000,123.000000,▇▁▁▁▁
151,numeric,midazolam_first_administration_day,10.502636,18.269512,0.000000,0.000000,3.000000,12.000000,164.000000,▇▁▁▁▁
152,numeric,midazolam_num_acute_administrations,2.246046,5.660829,0.000000,1.000000,1.000000,2.000000,96.000000,▇▁▁▁▁
153,numeric,midazolam_num_administraion_days,1.613357,2.374653,1.000000,1.000000,1.000000,1.000000,33.000000,▇▁▁▁▁
154,numeric,midazolam_performed_year,2014.274165,2.835648,2010.000000,2012.000000,2014.000000,2016.000000,2020.000000,▇▆▃▃▃
155,numeric,midazolam_total_number_of_administrations,2.541301,5.904355,1.000000,1.000000,1.000000,2.000000,100.000000,▇▁▁▁▁
156,numeric,olanzapin_first_administration_day,7.959514,21.779344,0.000000,1.000000,2.000000,9.000000,287.000000,▇▁▁▁▁
157,numeric,olanzapin_num_acute_administrations,3.991903,8.615543,0.000000,0.000000,1.000000,3.000000,76.000000,▇▁▁▁▁
158,numeric,olanzapin_num_administraion_days,8.392713,10.493302,1.000000,1.000000,4.000000,11.000000,56.000000,▇▂▁▁▁
159,numeric,olanzapin_performed_year,2015.712551,3.003109,2010.000000,2013.000000,2016.000000,2018.000000,2020.000000,▆▆▇▇▇
160,numeric,olanzapin_total_number_of_administrations,11.931174,17.032946,1.000000,1.000000,5.000000,15.000000,134.000000,▇▁▁▁▁
161,numeric,pipamperon_first_administration_day,12.532544,26.347277,0.000000,1.000000,5.000000,14.000000,262.000000,▇▁▁▁▁
162,numeric,pipamperon_num_acute_administrations,1.751479,3.487701,0.000000,0.000000,1.000000,2.000000,31.000000,▇▁▁▁▁
163,numeric,pipamperon_num_administraion_days,5.408284,8.270296,1.000000,1.000000,2.000000,7.000000,63.000000,▇▁▁▁▁
164,numeric,pipamperon_performed_year,2017.112426,2.899983,2010.000000,2015.000000,2018.000000,2020.000000,2020.000000,▂▂▃▃▇
165,numeric,pipamperon_total_number_of_administrations,7.650888,13.325236,1.000000,1.000000,3.000000,8.000000,122.000000,▇▁▁▁▁
166,numeric,propofol_first_administration_day,8.539344,12.166440,0.000000,1.000000,4.000000,11.000000,92.000000,▇▁▁▁▁
167,numeric,propofol_num_acute_administrations,3.944262,13.947480,0.000000,1.000000,1.000000,2.000000,199.000000,▇▁▁▁▁
168,numeric,propofol_num_administraion_days,1.906557,3.098724,1.000000,1.000000,1.000000,2.000000,47.000000,▇▁▁▁▁
169,numeric,propofol_performed_year,2014.206557,2.726737,2010.000000,2012.000000,2014.000000,2016.000000,2020.000000,▇▆▅▂▂
170,numeric,propofol_total_number_of_administrations,4.355738,14.673334,1.000000,1.000000,1.000000,2.000000,216.000000,▇▁▁▁▁
171,numeric,quetiapin_first_administration_day,7.509978,12.892685,0.000000,1.000000,3.000000,8.000000,152.000000,▇▁▁▁▁
172,numeric,quetiapin_num_acute_administrations,3.435698,6.510622,0.000000,1.000000,1.000000,4.000000,85.000000,▇▁▁▁▁
173,numeric,quetiapin_num_administraion_days,7.759424,10.432107,1.000000,1.000000,4.000000,10.000000,112.000000,▇▁▁▁▁
174,numeric,quetiapin_performed_year,2015.747228,2.968269,2010.000000,2013.000000,2016.000000,2018.000000,2020.000000,▆▅▇▇▇
175,numeric,quetiapin_total_number_of_administrations,11.241685,17.031710,1.000000,1.000000,5.000000,14.000000,218.000000,▇▁▁▁▁
176,numeric,risperidon_first_administration_day,8.736148,16.044549,0.000000,0.000000,2.000000,10.000000,117.000000,▇▁▁▁▁
177,numeric,risperidon_num_acute_administrations,1.878628,4.789875,0.000000,0.000000,1.000000,1.000000,59.000000,▇▁▁▁▁
178,numeric,risperidon_num_administraion_days,7.461741,9.087784,1.000000,1.000000,4.000000,10.000000,71.000000,▇▁▁▁▁
179,numeric,risperidon_performed_year,2015.358839,2.968618,2010.000000,2013.000000,2016.000000,2018.000000,2020.000000,▇▇▆▇▆
180,numeric,risperidon_total_number_of_administrations,11.941953,17.425178,1.000000,2.000000,6.000000,15.500000,199.000000,▇▁▁▁▁
181,numeric,first_14316.4,1.021277,1.753514,0.000000,0.000000,0.000000,3.000000,4.000000,▇▁▁▁▃
182,numeric,first_14979.9,29.952247,8.172840,17.000000,26.000000,29.000000,32.000000,160.000000,▇▁▁▁▁
183,numeric,first_16362.6,58.425532,41.618972,10.000000,29.750000,43.500000,74.250000,230.000000,▇▃▁▁▁
184,numeric,first_17856.6,6.505354,1.690842,3.200000,5.500000,6.000000,7.100000,16.500000,▇▇▁▁▁
185,numeric,first_18282.4,0.673684,1.504901,0.000000,0.000000,0.000000,0.000000,4.000000,▇▁▁▁▂
186,numeric,first_19270.8,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,▁▁▇▁▁
187,numeric,first_19295.5,0.294737,1.050569,0.000000,0.000000,0.000000,0.000000,4.000000,▇▁▁▁▁
188,numeric,first_19343.3,0.693878,1.522397,0.000000,0.000000,0.000000,0.000000,4.000000,▇▁▁▁▂
189,numeric,first_19359.9,0.042105,0.410391,0.000000,0.000000,0.000000,0.000000,4.000000,▇▁▁▁▁
190,numeric,first_20408.1,1.398748,1.432965,0.000000,0.000000,1.000000,3.000000,4.000000,▇▂▃▃▂
191,numeric,first_2160.0,1.079545,1.147723,0.030000,0.690000,0.850000,1.060000,28.010000,▇▁▁▁▁
192,numeric,first_30522.7,20.700000,32.137517,0.800000,4.175000,6.650000,23.175000,68.700000,▇▁▁▁▂
193,numeric,first_33762.6,6472.524135,12777.249692,5.000000,402.000000,1536.000000,5919.000000,70000.000000,▇▁▁▁▁
194,numeric,first_33959.8,6.974559,29.747485,0.020000,0.150000,0.460000,2.050000,840.500000,▇▁▁▁▁
195,numeric,first_46702.7,335.965768,1966.253233,0.100000,6.800000,24.600000,97.075000,30655.000000,▇▁▁▁▁
196,numeric,first_59408.5,96.470963,3.553219,0.000000,95.000000,97.000000,98.000000,100.000000,▁▁▁▁▇
197,numeric,first_718.7,12.636828,2.037958,2.300000,11.400000,12.700000,14.100000,23.300000,▁▂▇▂▁
198,numeric,first_777.3,238.530549,85.824101,1.000000,187.000000,227.000000,275.000000,2210.000000,▇▁▁▁▁
199,numeric,first_805.2,279.327586,1266.811491,0.000000,1.000000,3.000000,9.250000,11392.000000,▇▁▁▁▁
200,numeric,first_8329.5,36.758846,0.496648,33.000000,36.500000,36.800000,37.000000,40.900000,▁▁▇▁▁
201,numeric,first_8462.4,130.481063,21.267563,-8.000000,115.000000,130.000000,140.000000,259.000000,▁▁▇▂▁
202,numeric,first_8480.6,73.123071,12.301803,-9.000000,65.000000,72.000000,80.000000,231.000000,▁▇▁▁▁
203,numeric,first_8867.4,76.232328,13.323497,7.000000,68.000000,76.000000,84.000000,231.000000,▁▇▁▁▁
204,numeric,first_ddii,4.893821,7.411498,0.170000,1.310000,2.720000,5.100000,80.000000,▇▁▁▁▁
205,numeric,first_etqe,88.569440,289.277308,0.008000,8.225000,20.800000,47.375000,2670.000000,▇▁▁▁▁
206,numeric,first_gen,1030.909091,1381.014462,150.000000,269.250000,473.000000,1315.750000,5800.000000,▇▂▁▁▁
207,numeric,first_ttqe,49.428118,223.704550,0.003000,5.850000,13.600000,32.800000,7926.000000,▇▁▁▁▁
208,numeric,first_zz,283.740741,973.519995,1.000000,1.000000,5.000000,79.750000,10240.000000,▇▁▁▁▁
209,numeric,last_14316.4,1.021277,1.753514,0.000000,0.000000,0.000000,3.000000,4.000000,▇▁▁▁▃
210,numeric,last_14979.9,30.484666,8.362439,16.000000,27.000000,29.000000,32.000000,160.000000,▇▁▁▁▁
211,numeric,last_16362.6,54.074468,35.912174,10.000000,31.000000,44.000000,65.000000,265.000000,▇▂▁▁▁
212,numeric,last_17856.6,6.486334,1.662156,3.200000,5.500000,5.900000,7.000000,16.500000,▇▇▁▁▁
213,numeric,last_18282.4,0.673684,1.504901,0.000000,0.000000,0.000000,0.000000,4.000000,▇▁▁▁▂
214,numeric,last_19270.8,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,▁▁▇▁▁
215,numeric,last_19295.5,0.294737,1.050569,0.000000,0.000000,0.000000,0.000000,4.000000,▇▁▁▁▁
216,numeric,last_19343.3,0.571429,1.406905,0.000000,0.000000,0.000000,0.000000,4.000000,▇▁▁▁▁
217,numeric,last_19359.9,0.042105,0.410391,0.000000,0.000000,0.000000,0.000000,4.000000,▇▁▁▁▁
218,numeric,last_20408.1,1.409824,1.439573,0.000000,0.000000,1.000000,3.000000,4.000000,▇▂▃▃▂
219,numeric,last_2160.0,0.973621,0.809305,0.030000,0.660000,0.820000,1.020000,16.080000,▇▁▁▁▁
220,numeric,last_30522.7,20.700000,32.137517,0.800000,4.175000,6.650000,23.175000,68.700000,▇▁▁▁▂
221,numeric,last_33762.6,6609.332033,12931.427812,9.000000,434.500000,1602.000000,6012.000000,70000.000000,▇▁▁▁▁
222,numeric,last_33959.8,5.777897,53.135698,0.020000,0.140000,0.410000,1.630000,4000.000000,▇▁▁▁▁
223,numeric,last_46702.7,340.458299,1965.482691,0.100000,6.525000,24.800000,97.650000,30655.000000,▇▁▁▁▁
224,numeric,last_59408.5,96.459178,3.448324,0.000000,95.000000,97.000000,98.000000,100.000000,▁▁▁▁▇
225,numeric,last_718.7,11.715010,2.176911,3.300000,10.000000,11.700000,13.300000,20.900000,▁▅▇▃▁
226,numeric,last_777.3,276.103299,128.646951,1.000000,198.000000,246.000000,318.000000,3099.000000,▇▁▁▁▁
227,numeric,last_805.2,266.793103,1265.558289,0.000000,1.000000,3.000000,9.250000,11392.000000,▇▁▁▁▁
228,numeric,last_8329.5,36.701240,0.446966,0.000000,36.500000,36.700000,37.000000,40.400000,▁▁▁▁▇
229,numeric,last_8462.4,128.311489,19.280034,-47.000000,115.000000,125.000000,140.000000,300.000000,▁▁▇▁▁
230,numeric,last_8480.6,71.607901,10.939798,-47.000000,65.000000,70.000000,80.000000,155.000000,▁▁▇▆▁
231,numeric,last_8867.4,75.094745,12.667910,0.000000,68.000000,76.000000,81.000000,272.000000,▁▇▁▁▁
232,numeric,last_ddii,4.700300,7.087143,0.170000,1.340000,2.690000,4.970000,80.000000,▇▁▁▁▁
233,numeric,last_etqe,88.392773,288.726575,0.008000,8.500000,20.000000,47.125000,2670.000000,▇▁▁▁▁
234,numeric,last_gen,926.181818,1254.866285,150.000000,269.250000,435.000000,1315.750000,5800.000000,▇▂▁▁▁
235,numeric,last_ttqe,70.138605,536.121442,0.003000,6.100000,14.400000,39.150000,25778.000000,▇▁▁▁▁
236,numeric,last_zz,79.488889,380.100160,1.000000,1.000000,3.000000,19.000000,4928.000000,▇▁▁▁▁
237,numeric,max_14316.4,1.063830,1.776843,0.000000,0.000000,0.000000,4.000000,4.000000,▇▁▁▁▃
238,numeric,max_14979.9,35.853186,20.209369,17.000000,27.000000,30.000000,35.000000,160.000000,▇▁▁▁▁
239,numeric,max_16362.6,68.127660,58.391768,10.000000,31.750000,47.000000,83.000000,417.000000,▇▂▁▁▁
240,numeric,max_17856.6,6.512137,1.688287,3.200000,5.500000,6.000000,7.100000,16.500000,▇▇▁▁▁
241,numeric,max_18282.4,0.673684,1.504901,0.000000,0.000000,0.000000,0.000000,4.000000,▇▁▁▁▂
242,numeric,max_19270.8,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,▁▁▇▁▁
243,numeric,max_19295.5,0.336842,1.116706,0.000000,0.000000,0.000000,0.000000,4.000000,▇▁▁▁▁
244,numeric,max_19343.3,0.693878,1.522397,0.000000,0.000000,0.000000,0.000000,4.000000,▇▁▁▁▂
245,numeric,max_19359.9,0.042105,0.410391,0.000000,0.000000,0.000000,0.000000,4.000000,▇▁▁▁▁
246,numeric,max_20408.1,1.551649,1.456099,0.000000,0.000000,1.000000,3.000000,4.000000,▇▃▃▅▂
247,numeric,max_2160.0,1.211722,1.727168,0.030000,0.710000,0.900000,1.140000,204.000000,▇▁▁▁▁
248,numeric,max_30522.7,20.700000,32.137517,0.800000,4.175000,6.650000,23.175000,68.700000,▇▁▁▁▂
249,numeric,max_33762.6,7604.296441,14313.507338,9.000000,479.000000,1803.000000,7061.500000,71502.000000,▇▁▁▁▁
250,numeric,max_33959.8,12.160818,65.014636,0.020000,0.180000,0.680000,4.050000,4000.000000,▇▁▁▁▁
251,numeric,max_46702.7,364.414730,1979.751240,0.100000,7.450000,25.650000,108.475000,30655.000000,▇▁▁▁▁
252,numeric,max_59408.5,98.198550,1.738296,1.000000,97.000000,98.000000,99.000000,100.000000,▁▁▁▁▇
253,numeric,max_718.7,12.874256,1.843747,5.300000,11.600000,12.900000,14.200000,28.800000,▁▇▂▁▁
254,numeric,max_777.3,300.138814,148.669708,14.000000,209.000000,260.000000,342.000000,3099.000000,▇▁▁▁▁
255,numeric,max_805.2,279.413793,1266.792492,0.000000,1.750000,3.000000,9.250000,11392.000000,▇▁▁▁▁
256,numeric,max_8329.5,37.343627,1.172417,34.000000,37.000000,37.200000,37.600000,361.000000,▇▁▁▁▁
257,numeric,max_8462.4,148.372580,24.516404,65.000000,130.000000,145.000000,165.000000,763.000000,▇▁▁▁▁
258,numeric,max_8480.6,84.555088,14.855899,26.000000,75.000000,84.000000,90.000000,870.000000,▇▁▁▁▁
259,numeric,max_8867.4,89.571718,15.503984,35.000000,80.000000,88.000000,96.000000,294.000000,▇▇▁▁▁
260,numeric,max_ddii,5.206196,7.649972,0.170000,1.422500,3.040000,5.535000,80.000000,▇▁▁▁▁
261,numeric,max_etqe,88.892107,289.228243,0.008000,8.500000,20.800000,49.075000,2670.000000,▇▁▁▁▁
262,numeric,max_gen,1032.181818,1380.253898,150.000000,269.250000,473.000000,1315.750000,5800.000000,▇▂▁▁▁
263,numeric,max_ttqe,90.231487,626.743564,0.003000,6.200000,15.300000,44.000000,25778.000000,▇▁▁▁▁
264,numeric,max_zz,446.407407,1268.735484,1.000000,1.000000,7.500000,209.000000,10600.000000,▇▁▁▁▁
265,numeric,min_14316.4,0.978723,1.728812,0.000000,0.000000,0.000000,0.000000,4.000000,▇▁▁▁▂
266,numeric,min_14979.9,28.272821,4.550593,16.000000,26.000000,28.000000,30.000000,160.000000,▇▁▁▁▁
267,numeric,min_16362.6,49.494681,31.374996,10.000000,28.750000,40.000000,59.250000,173.000000,▇▅▁▁▁
268,numeric,min_17856.6,6.479653,1.664644,3.200000,5.500000,5.900000,7.000000,16.500000,▇▇▁▁▁
269,numeric,min_18282.4,0.673684,1.504901,0.000000,0.000000,0.000000,0.000000,4.000000,▇▁▁▁▂
270,numeric,min_19270.8,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,▁▁▇▁▁
271,numeric,min_19295.5,0.252632,0.978149,0.000000,0.000000,0.000000,0.000000,4.000000,▇▁▁▁▁
272,numeric,min_19343.3,0.571429,1.406905,0.000000,0.000000,0.000000,0.000000,4.000000,▇▁▁▁▁
273,numeric,min_19359.9,0.042105,0.410391,0.000000,0.000000,0.000000,0.000000,4.000000,▇▁▁▁▁
274,numeric,min_20408.1,1.266795,1.411178,0.000000,0.000000,1.000000,3.000000,4.000000,▇▂▂▃▂
275,numeric,min_2160.0,0.886345,0.622857,0.020000,0.620000,0.780000,0.970000,13.430000,▇▁▁▁▁
276,numeric,min_30522.7,20.700000,32.137517,0.800000,4.175000,6.650000,23.175000,68.700000,▇▁▁▁▂
277,numeric,min_33762.6,5686.481716,11594.127612,5.000000,386.500000,1398.000000,5222.500000,70000.000000,▇▁▁▁▁
278,numeric,min_33959.8,3.468840,17.755075,0.020000,0.120000,0.310000,1.050000,534.700000,▇▁▁▁▁
279,numeric,min_46702.7,311.966805,1951.547941,0.100000,6.000000,20.750000,85.550000,30655.000000,▇▁▁▁▁
280,numeric,min_59408.5,93.137926,8.648115,0.000000,93.000000,95.000000,96.000000,100.000000,▁▁▁▁▇
281,numeric,min_718.7,11.090083,2.577007,0.100000,9.200000,11.300000,13.000000,20.900000,▁▃▇▅▁
282,numeric,min_777.3,206.017143,74.657426,0.000000,160.000000,200.000000,245.000000,1597.000000,▇▁▁▁▁
283,numeric,min_805.2,266.301724,1265.652973,0.000000,1.000000,3.000000,9.000000,11392.000000,▇▁▁▁▁
284,numeric,min_8329.5,36.270327,0.486056,0.000000,36.000000,36.300000,36.600000,39.500000,▁▁▁▁▇
285,numeric,min_8462.4,108.550950,15.974556,-47.000000,100.000000,110.000000,120.000000,249.000000,▁▁▇▁▁
286,numeric,min_8480.6,58.950826,9.928848,-70.000000,55.000000,60.000000,65.000000,150.000000,▁▁▇▃▁
287,numeric,min_8867.4,64.634567,9.863894,0.000000,60.000000,64.000000,72.000000,231.000000,▁▇▁▁▁
288,numeric,min_ddii,4.441512,6.918764,0.170000,1.240000,2.475000,4.637500,80.000000,▇▁▁▁▁
289,numeric,min_etqe,88.070107,288.775164,0.008000,8.225000,20.000000,46.000000,2670.000000,▇▁▁▁▁
290,numeric,min_gen,924.909091,1255.590239,150.000000,269.250000,435.000000,1315.750000,5800.000000,▇▂▁▁▁
291,numeric,min_ttqe,42.284566,202.006140,0.003000,5.700000,13.100000,31.100000,7926.000000,▇▁▁▁▁
292,numeric,min_zz,60.318519,332.662117,1.000000,1.000000,2.000000,12.750000,4928.000000,▇▁▁▁▁
293,numeric,mean_14316.4,1.014184,1.726119,0.000000,0.000000,0.000000,1.833333,4.000000,▇▁▁▁▂
294,numeric,mean_14979.9,30.999667,7.456139,17.000000,27.000000,29.250000,33.000000,160.000000,▇▁▁▁▁
295,numeric,mean_16362.6,57.406974,37.990970,10.000000,31.000000,45.000000,72.500000,229.400000,▇▃▁▁▁

In [6]:
pd.set_option('display.max_rows', 10)

In [7]:
adjusted_data = data.copy()

Create an empty dataframe. For every feature create one column with 100 rows

In [8]:
generated_df = pd.DataFrame(0, index=range(100), columns=adjusted_data["skim_variable"].values, dtype='object')

In [9]:
generated_df

,start_date,end_date,id,encounter_id,patient_id,admission_type,admission_reason,last_encounter,birth_date,chf,...,pipamperon_administered_acute,propofol_administered_acute,quetiapin_administered_acute,risperidon_administered_acute,cocaine,cannabis,barbiturate,opiate,amphetamin,tox_screen
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
96,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
97,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
98,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Generate data for POSIXct, factor and logical features

In [10]:
adjusted_data.loc[adjusted_data["skim_type"].isin(["logical", "factor", "POSIXct"])].iloc[:, [0, 1, 4,5,6,7,13,14,15,16,17]]

,skim_type,skim_variable,POSIXct.min,POSIXct.max,POSIXct.median,POSIXct.n_unique,factor.ordered,factor.n_unique,factor.top_counts,logical.mean,logical.count
0,POSIXct,start_date,2010-01-01 01:15:00,2020-12-30 14:00:00,2015-09-03 10:23:00,111948.0,NaN,NaN,NaN,NaN,NaN
1,POSIXct,end_date,2010-01-03 10:00:00,2020-12-31 15:00:00,2015-09-12 08:22:30,69251.0,NaN,NaN,NaN,NaN,NaN
101,factor,discharge,NaT,NaT,NaT,NaN,0.0,8.0,"hom: 113207, dis: 3300, tra: 2983, dea: 1608",NaN,NaN
102,factor,gender,NaT,NaT,NaT,NaN,0.0,2.0,"W: 66098, M: 56338",NaN,NaN
103,factor,dementia,NaT,NaT,NaT,NaN,0.0,2.0,"Fal: 121761, Tru: 675",NaN,NaN
104,logical,delir,NaT,NaT,NaT,NaN,NaN,NaN,NaN,0.021603,"FAL: 119791, TRU: 2645"
105,logical,neuro_psy,NaT,NaT,NaT,NaN,NaN,NaN,NaN,0.071319,"FAL: 113704, TRU: 8732"
106,logical,any_medication,NaT,NaT,NaT,NaN,NaN,NaN,NaN,0.062441,"FAL: 114791, TRU: 7645"
107,logical,any_grouped_medication,NaT,NaT,NaT,NaN,NaN,NaN,NaN,0.062441,"FAL: 114791, TRU: 7645"
108,logical,any_acute_medication,NaT,NaT,NaT,NaN,NaN,NaN,NaN,0.052003,"FAL: 116069, TRU: 6367"

In [11]:
np.random.seed(42) 

#create datetime data with uniform distribution
for i in range(0,2):
    min_date = adjusted_data.iloc[i,4]
    median_date = adjusted_data.iloc[i,6]
    max_date = adjusted_data.iloc[i,5]
    dates_before_median = np.linspace(min_date.value, median_date.value, 50, endpoint=False)
    dates_after_median = np.linspace(median_date.value, max_date.value, 50, endpoint=True)
    all_dates = np.concatenate([dates_before_median, dates_after_median])
    generated_df.iloc[:,i] = pd.to_datetime(all_dates)

# generate the factor data based on the counts
# do the same for the logical attributed
for i in range(101,109):
    if i < 104:
        cols=15
    else:
        cols=17
    data_dict = {item.split(': ')[0]: int(item.split(': ')[1]) for item in adjusted_data.iloc[i,cols].split(",")}
    total_count = sum(data_dict.values())
    vals = []
    for j in data_dict:
        vals += [j] * np.ceil(100 * data_dict[j] / total_count).astype(int)     #ceil, to ensure generating at least 100 values
    generated_df.iloc[:,i] = np.random.choice(vals, 100)  # Randomly select 100 values from the generated list

C:\Users\Luca\AppData\Local\Temp\ipykernel_10272\688359677.py:11: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  generated_df.iloc[:,i] = pd.to_datetime(all_dates)
C:\Users\Luca\AppData\Local\Temp\ipykernel_10272\688359677.py:11: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  generated_df.iloc[:,i] = pd.to_datetime(all_dates)

In [12]:
generated_df.iloc[:,[0,1,101,102,103,104,105,106,107,108]]

,start_date,end_date,discharge,gender,dementia,delir,neuro_psy,any_medication,any_grouped_medication,any_acute_medication
0,2010-01-01 01:15:00.000000000,2010-01-03 10:00:00.000000000,hom,W,Fal,FAL,FAL,FAL,FAL,FAL
1,2010-02-11 11:30:45.600000000,2010-02-13 23:24:27.000000000,hom,W,Fal,FAL,FAL,FAL,FAL,FAL
2,2010-03-24 21:46:31.200000000,2010-03-27 12:48:54.000000000,hom,M,Fal,TRU,FAL,FAL,FAL,FAL
3,2010-05-05 08:02:16.800000000,2010-05-08 02:13:21.000000000,hom,M,Fal,FAL,FAL,FAL,TRU,FAL
4,2010-06-15 18:18:02.400000000,2010-06-18 15:37:48.000000000,hom,W,Fal,FAL,FAL,FAL,FAL,FAL
...,...,...,...,...,...,...,...,...,...,...
95,2020-07-24 19:05:33.061224448,2020-07-26 11:31:13.469387776,hom,W,Fal,FAL,TRU,FAL,FAL,FAL
96,2020-09-02 11:49:09.795918336,2020-09-04 00:23:25.102040832,hom,W,Fal,FAL,FAL,FAL,FAL,FAL
97,2020-10-12 04:32:46.530612224,2020-10-13 13:15:36.734693888,hom,M,Fal,FAL,FAL,FAL,FAL,FAL
98,2020-11-20 21:16:23.265306112,2020-11-22 02:07:48.367346944,hom,M,Fal,FAL,FAL,FAL,FAL,FAL
99,2020-12-30 14:00:00.000000000,2020-12-31 15:00:00.000000000,hom,W,Fal,FAL,FAL,TRU,FAL,FAL

Generate data for character features

In [13]:
adjusted_data.loc[adjusted_data["skim_type"] == "character"].iloc[:, [0, 1, 8,9,10,11,12]]

,skim_type,skim_variable,character.min,character.max,character.empty,character.n_unique,character.whitespace
2,character,id,36.0,36.0,0.0,122436.0,0.0
3,character,encounter_id,20.0,20.0,0.0,122436.0,0.0
4,character,patient_id,16.0,16.0,0.0,88166.0,0.0
5,character,admission_type,3.0,3.0,0.0,1.0,0.0
6,character,admission_reason,21.0,28.0,0.0,8.0,0.0
...,...,...,...,...,...,...,...
96,character,quetiapin_first_administration_date,0.0,25.0,121534.0,889.0,0.0
97,character,risperidon_clinic,0.0,6.0,122057.0,22.0,0.0
98,character,risperidon_department,0.0,3.0,122057.0,10.0,0.0
99,character,risperidon_first_administration_date,0.0,25.0,122057.0,378.0,0.0
100,character,new_delir_therapy,4.0,5.0,0.0,2.0,0.0

In [14]:
adjusted_data.loc[(adjusted_data["skim_type"] == "character") & (((adjusted_data["character.min"] != 4) | 
                                                                  (adjusted_data["character.min"] != 5)) & (adjusted_data["character.max"] != 5) ) 
                  & (adjusted_data["character.empty"] < 100000)].iloc[:, [0, 1, 8,9,10,11,12]]

,skim_type,skim_variable,character.min,character.max,character.empty,character.n_unique,character.whitespace
2,character,id,36.0,36.0,0.0,122436.0,0.0
3,character,encounter_id,20.0,20.0,0.0,122436.0,0.0
4,character,patient_id,16.0,16.0,0.0,88166.0,0.0
5,character,admission_type,3.0,3.0,0.0,1.0,0.0
6,character,admission_reason,21.0,28.0,0.0,8.0,0.0
8,character,birth_date,19.0,19.0,0.0,96.0,0.0
59,character,first_operation_code,5.0,8.0,0.0,5636.0,0.0
60,character,major_surgery,4.0,31.0,0.0,18.0,0.0

In [15]:
def generate_random_string(length):
    characters = string.ascii_letters + string.digits
    return ''.join(random.choice(characters) for _ in range(length))

for i in [2,3,4]: #generate random strings for id columns
    val = []
    for j in range(100):
        val.append(generate_random_string(int(adjusted_data.iloc[i,9])))
    generated_df.iloc[:,i] = val

#admission_type
i = 5
generated_df.iloc[:,i] = ["001" for _ in range(100)] #fill with one unique value

#admisson_reason
i = 6
admission_reasons = [   #eight admission reasons from gpt
    "Severe abdominal pain",
    "Chest pain and pressure",
    "High fever with chills",
    "Shortness of breath",
    "Acute allergic reaction",
    "Loss of consciousness",
    "Severe dehydration",
    "Persistent severe headache"
]
random_reasons = [random.choice(admission_reasons) for _ in range(100)]
generated_df.iloc[:,i] = random_reasons

#birth_date
i = 8
start_date = datetime(1940, 1, 1)
end_date = datetime(2005, 1, 1)
date_range = (end_date - start_date).days
birthdays = [start_date + timedelta(days=random.randint(0, date_range)) for _ in range(100)]
generated_df.iloc[:,i] = birthdays

#first_operation_code
i=59
val = []
for j in range(100):
    random_length = random.randint(int(adjusted_data.iloc[i,8]), int(adjusted_data.iloc[i,9]))
    val.append(generate_random_string(random_length))
generated_df.iloc[:,i] = val
    
#major_surgery
i=60
major_surgeries = [     #generated with gpt
    "Appendectomy","Cholecystectomy", "Coronary bypass","Lung transplant", "Hip replacement", "Knee replacement","Spinal fusion","Heart valve repair", "Liver transplant", 
    "Cataract surgery","Gallbladder removal", "Kidney transplant","Mastectomy","Hernia repair", "Thyroidectomy","Hysterectomy","Arthroscopy","Brain tumor removal"  
]
random_surgeries = [random.choice(major_surgeries) for _ in range(100)]
generated_df.iloc[:,i] = random_surgeries


# columns with False/True character values
idxs = adjusted_data.loc[(adjusted_data["skim_type"] == "character") & (adjusted_data["character.min"] == 4) & (adjusted_data["character.max"] == 5)].index
for i in idxs:
    vals = ["True"] * np.ceil(random.randint(0,100)/1000 * 100).astype(int)   # create a random number between 0 and 0.1 for the rate of True values
    vals = vals + ["False"] * (100 - len(vals))
    generated_df.iloc[:,i] = np.random.choice(vals, 100) #shuffle the data
    
#columns with only false values
idxs = adjusted_data.loc[(adjusted_data["skim_type"] == "character") & (adjusted_data["character.min"] == 5) & (adjusted_data["character.max"] == 5)].index
for i in idxs:
    generated_df.iloc[:,i] = ["False"] * 100
    
#fill columns with nothing that have more that 100 000 character.empty values
idxs = adjusted_data.loc[(adjusted_data["skim_type"] == "character") & (adjusted_data["character.empty"] >= 100000)].index
for i in idxs:
    generated_df.iloc[:,i] = [""] * 100

C:\Users\Luca\AppData\Local\Temp\ipykernel_10272\1846096300.py:36: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  generated_df.iloc[:,i] = birthdays

Generate data for numeric features   
Only create integer values as the quantiles indicate that every feature only contained integer values

In [16]:
adjusted_data.loc[adjusted_data["skim_type"] == "numeric"].iloc[:, [0, 1,18,19,20,21,22,23,24,25]]

,skim_type,skim_variable,numeric.mean,numeric.sd,numeric.p0,numeric.p25,numeric.p50,numeric.p75,numeric.p100,numeric.hist
109,numeric,reason_code,175.535888,135.536352,101.0,101.0,101.0,201.0,807.0,▇▁▁▁▁
110,numeric,discharge_disposition,25.034214,18.786175,11.0,19.0,19.0,19.0,179.0,▇▁▁▁▁
111,numeric,los,7.774290,10.029633,0.0,3.0,5.0,9.0,380.0,▇▁▁▁▁
112,numeric,encounter_sequence,1.690067,1.462698,1.0,1.0,1.0,2.0,52.0,▇▁▁▁▁
113,numeric,age_at_visit,52.881946,18.917783,18.0,36.0,54.0,69.0,107.0,▆▆▇▅▁
...,...,...,...,...,...,...,...,...,...,...
408,numeric,cannabis,0.000776,0.027845,0.0,0.0,0.0,0.0,1.0,▇▁▁▁▁
409,numeric,barbiturate,0.000768,0.027698,0.0,0.0,0.0,0.0,1.0,▇▁▁▁▁
410,numeric,opiate,0.000776,0.027845,0.0,0.0,0.0,0.0,1.0,▇▁▁▁▁
411,numeric,amphetamin,0.000800,0.028280,0.0,0.0,0.0,0.0,1.0,▇▁▁▁▁
412,numeric,tox_screen,0.000800,0.028280,0.0,0.0,0.0,0.0,1.0,▇▁▁▁▁

In [17]:
for i in adjusted_data.loc[adjusted_data["skim_type"] == "numeric"].index:
    mean = adjusted_data.iloc[i,18]
    std = adjusted_data.iloc[i,19]
    p0 = adjusted_data.iloc[i,20]
    p25 = adjusted_data.iloc[i,21]
    p50 = adjusted_data.iloc[i,22]
    p75 = adjusted_data.iloc[i,23]
    p100 = adjusted_data.iloc[i,24]

In [18]:
for i in adjusted_data.loc[adjusted_data["skim_type"] == "numeric"].index:
    mean = adjusted_data.iloc[i,18]
    std = adjusted_data.iloc[i,19]
    p0 = adjusted_data.iloc[i,20]
    p25 = adjusted_data.iloc[i,21]
    p50 = adjusted_data.iloc[i,22]
    p75 = adjusted_data.iloc[i,23]
    p100 = adjusted_data.iloc[i,24]

    values = np.random.normal(loc=mean, scale=std, size=100)
    # Clip values to ensure they are within the range [p0, p100]
    values = np.clip(values, p0, p100)
    values = np.round(values).astype(int)
    # Ensure the distribution reflects percentiles
    values.sort()
    values[:25] = np.clip(values[:25], p0, p25)
    values[25:75] = np.clip(values[25:75], p25, p75)
    values[75:] = np.clip(values[75:], p75, p100)
    random.shuffle(values)
    generated_df.iloc[:,i] = values

#overwrite columns with nothing that have more that 100 000 numeric.empty values
for i in adjusted_data.loc[adjusted_data["n_missing"] >= 100000].index:
    generated_df.iloc[:,i] = [np.nan] * 100

C:\Users\Luca\AppData\Local\Temp\ipykernel_10272\2842605521.py:20: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  generated_df.iloc[:,i] = values

In [19]:
#save the dataset
generated_df.to_csv("generated_data.csv", index=False)

Generate the Labels

In [ ]:
def print_column(i):
    print(i)
    print(generated_df[i].unique()[:10])

#label the dataset manually
labels=[]
for i in generated_df.columns:
    inp = "a"
    while inp == "a":
        print_column(i)
        inp = input("Enter the label for the column: ")
    if inp == "p":
        labels.append("personal")
    elif inp == "n":
        labels.append("non-personal")
    else:
        labels.append("dropa")
    print()

In [39]:
test_labels = pd.DataFrame(labels).rename(columns={0:"label"})
test_labels.to_csv("generated_data_labels.csv", index=False)

In [21]:
test_labels.value_counts()

label
drop        381
personal     32
dtype: int64

In [22]:
pd.set_option('display.max_rows', 500)
test_labels.index = generated_df.columns
test_labels.loc[test_labels["label"] != "drop"]

                             label
encounter_id              personal
patient_id                personal
admission_type            personal
admission_reason          personal
last_encounter            personal
birth_date                personal
aids                      personal
wloss                     personal
alcohol                   personal
drug                      personal
psycho                    personal
depre                     personal
hemorhage_stroke          personal
ischemic_stroke           personal
first_operation_code      personal
major_surgery             personal
discharge                 personal
gender                    personal
dementia                  personal
any_medication            personal
any_grouped_medication    personal
any_acute_medication      personal
age_at_visit              personal
total_number_operations   personal
total_opeartion_duration  personal
number_of_surgeries       personal
major_surgery_duration    personal
cocaine                   personal
cannabis                  personal
barbiturate               personal
opiate                    personal
amphetamin                personal

In [23]:
pd.set_option('display.max_rows', 10)
test_labels.loc[test_labels["label"] != "drop"].to_csv("test_labels_personal.csv", index=False)
generated_df.loc[:,test_labels.loc[test_labels["label"] != "drop"].index].to_csv("test.csv", index=False)

Check data of Mr. Tsialis  
Data of Mr. Tsialis does not include all columns, which I have picked for my experiments

In [47]:
test_df = pd.read_csv("test.csv")
data_tsialis = pd.read_csv("gen_data_tsialis.csv")
data_tsialis[list( set(data_tsialis.columns).intersection(set(test_df.columns)) )].head()

,depre,psycho,gender,ischemic_stroke,dementia,aids,birth_date,admission_reason,drug,discharge,first_operation_code,hemorhage_stroke,patient_id,encounter_id,admission_type,last_encounter,wloss,age_at_visit,total_number_operations,alcohol
0,True,False,M,True,False,False,1988-01-01 00:01:00,Normal Child delivery,True,discharge to psychiatric therapy,5-749.0,True,F86020D1ED22872A,F86020D1E52F872F-005,IMP,True,True,-8.000000,1.0,True
1,True,True,X,True,True,True,1935-01-01 00:01:00,Emergency Hospital treatment,True,discharge to hospitz,NaN,False,F86020D0E82F862E,F86020D1E82E822E-001,IMP,True,True,-4.162662,1.0,False
2,True,False,X,False,False,True,2000-01-01 00:01:00,Emergency Organ procurement,True,death,5-576.60,True,F86020D2E427872E,F86020D1E82E822E-001,IMP,False,False,-0.291226,NaN,True
3,True,False,U,False,False,False,1965-01-01 00:01:00,Work Hospital treatment,False,discharge to psychiatric therapy,NaN,False,F86020D1E8228329,F86020D0ED21802E-002,IMP,True,True,4.976455,1.0,True
4,True,False,X,False,False,True,1990-01-01 00:01:00,Work Hospital treatment,True,discharge to psychiatric therapy,5-449.e3,True,F86020D0E5268B2B,F86020D1E823832B-001,IMP,False,False,5.012137,1.0,False

Use the data from Mr. Tsialis  
For the columns which are not present in Mr. Tsialis dataset, use your own data

In [51]:
for i in test_df.columns:
    if i in data_tsialis.columns:
        test_df[i] = data_tsialis[i]
test_df.to_csv("test.csv", index=False)